<h1>Required packages</h1>

In [1]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
load_dotenv()

from sqlalchemy.orm import Mapped, mapped_column, relationship, Session
from src.utils.reqRes import apiError, apiResponse
from src.utils.hashPW import hashPassword
from src.db_models.base import Base
from src.db_models.user import User
from src.db_models.feedback import *
from src.db_models.company import Company
from src.db_models.ipos import *
from src.db_models.news import News
from src.db_models.events import Event
from src.db_models.INDEX import IndicesTable
from src.db_models.relationships import *

engine = create_engine("sqlite:///demoDB.db", echo=True)

Lazy connection setup

In [2]:
target_metadata = Base.metadata
Base.metadata.drop_all(engine)
def createTables():
    Base.metadata.create_all(engine)

createTables()

2024-08-25 20:05:54,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:05:54,217 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-08-25 20:05:54,219 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,225 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-08-25 20:05:54,226 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,228 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-08-25 20:05:54,229 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,231 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-08-25 20:05:54,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,234 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("company_table")
2024-08-25 20:05:54,235 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,236 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-08-25 20:05:54,237 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,239 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-08-25 20:05:54,240 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,241 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-08-25 20:05:54,242 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,245 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-08-25 20:05:54,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,248 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-08-25 20:05:54,249 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,251 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-08-25 20:05:54,252 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,254 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-08-25 20:05:54,256 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,258 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-08-25 20:05:54,259 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,261 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-08-25 20:05:54,262 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:54,265 INFO sqlalchemy.engine.Engine
DROP TABLE comment_company_association
2024-08-25 20:05:54,265 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2024-08-25 20:05:54,446 INFO sqlalchemy.engine.Engine
DROP TABLE lot_size_table
2024-08-25 20:05:54,447 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2024-08-25 20:05:54,590 INFO sqlalchemy.engine.Engine
DROP TABLE investor_distribution
2024-08-25 20:05:54,592 INFO sqlalchemy.engine.Engine [no key 0.00151s] ()
2024-08-25 20:05:54,735 INFO sqlalchemy.engine.Engine
DROP TABLE news_company_association
2024-08-25 20:05:54,740 INFO sqlalchemy.engine.Engine [no key 0.00475s] ()
2024-08-25 20:05:54,869 INFO sqlalchemy.engine.Engine
DROP TABLE ipo_table
2024-08-25 20:05:54,870 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2024-08-25 20:05:55,002 INFO sqlalchemy.engine.Engine
DROP TABLE user_comment
2024-08-25 20:05:55,004 INFO sqlalchemy.engine.Engine [no key 0.00236s] ()
2024-08-25 20:05:55,135 INFO sqlalchemy.engine.Engine
DROP TABLE web_feedback
2024-08-25 20:05:55,136 INFO sqlalchemy.engine.Engine [no key 0.00136s] ()
2024-08-25 20:05:55,236 INFO sqlalchemy.engine.Engine
DROP TABLE "Indices_table"
2024-08-25 20:05:55,237 INFO sqlalchemy.engine.Engine [no key 0.00140s] ()
2024-08-25 20:05:55,368 INFO sqlalchemy.engine.Engine
DROP TABLE events
2024-08-25 20:05:55,369 INFO sqlalchemy.engine.Engine [no key 0.00107s] ()
2024-08-25 20:05:55,480 INFO sqlalchemy.engine.Engine
DROP TABLE news_table
2024-08-25 20:05:55,481 INFO sqlalchemy.engine.Engine [no key 0.00108s] ()
2024-08-25 20:05:55,630 INFO sqlalchemy.engine.Engine
DROP TABLE registrar_table
2024-08-25 20:05:55,632 INFO sqlalchemy.engine.Engine [no key 0.00173s] ()
2024-08-25 20:05:55,757 INFO sqlalchemy.engine.Engine
DROP TABLE users
2024-08-25 20:05:55,759 INFO sqlalchemy.engine.Engine [no key 0.00113s] ()
2024-08-25 20:05:55,879 INFO sqlalchemy.engine.Engine COMMIT
2024-08-25 20:05:55,881 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:05:55,883 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-08-25 20:05:55,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,888 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2024-08-25 20:05:55,890 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,893 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-08-25 20:05:55,897 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,899 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("web_feedback")
2024-08-25 20:05:55,902 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,905 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-08-25 20:05:55,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,911 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_comment")
2024-08-25 20:05:55,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,918 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-08-25 20:05:55,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,922 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("company_table")
2024-08-25 20:05:55,924 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,926 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-08-25 20:05:55,927 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,929 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ipo_table")
2024-08-25 20:05:55,932 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,934 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-08-25 20:05:55,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,945 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("investor_distribution")
2024-08-25 20:05:55,948 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,950 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-08-25 20:05:55,951 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,953 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("lot_size_table")
2024-08-25 20:05:55,954 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,958 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-08-25 20:05:55,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,961 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("registrar_table")
2024-08-25 20:05:55,963 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,964 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-08-25 20:05:55,965 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,966 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("news_table")
2024-08-25 20:05:55,967 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,969 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-08-25 20:05:55,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,971 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("events")
2024-08-25 20:05:55,972 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,976 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-08-25 20:05:55,977 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,979 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Indices_table")
2024-08-25 20:05:55,981 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,982 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-08-25 20:05:55,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,984 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("comment_company_association")
2024-08-25 20:05:55,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,986 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-08-25 20:05:55,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,989 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("news_company_association")
2024-08-25 20:05:55,992 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 20:05:55,996 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR(30) NOT NULL,
	password VARCHAR NOT NULL,
	fullname VARCHAR(80),
	email VARCHAR(80) NOT NULL,
	avatar VARCHAR,
	access_token VARCHAR,
	refresh_token VARCHAR,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (username),
	UNIQUE (email)
)


2024-08-25 20:05:55,997 INFO sqlalchemy.engine.Engine [no key 0.00201s] ()
2024-08-25 20:05:56,102 INFO sqlalchemy.engine.Engine
CREATE TABLE company_table (
	id INTEGER NOT NULL,
	symbol VARCHAR,
	company_name VARCHAR NOT NULL,
	mcap BIGINT,
	sector VARCHAR,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (company_name)
)


2024-08-25 20:05:56,103 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()
2024-08-25 20:05:56,225 INFO sqlalchemy.engine.Engine
CREATE TABLE news_table (
	id INTEGER NOT NULL,
	headline VARCHAR(100) NOT NULL,
	content TEXT,
	topic VARCHAR,
	news_url VARCHAR NOT NULL,
	sentiment INTEGER NOT NULL,
	sentiment_statement VARCHAR,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id)
)


2024-08-25 20:05:56,227 INFO sqlalchemy.engine.Engine [no key 0.00221s] ()
2024-08-25 20:05:56,360 INFO sqlalchemy.engine.Engine
CREATE TABLE "Indices_table" (
	timestamp DATETIME NOT NULL,
	"niftyPrediction" FLOAT,
	"predictionAccuracy" FLOAT,
	nifty50 FLOAT NOT NULL,
	sensex FLOAT NOT NULL,
	bank_nifty FLOAT NOT NULL,
	nifty_auto FLOAT NOT NULL,
	nifty_it FLOAT NOT NULL,
	nifty_pharma FLOAT NOT NULL,
	dow_jones FLOAT NOT NULL,
	nasdaq FLOAT NOT NULL,
	s_and_p_500 FLOAT NOT NULL,
	ftse_100 FLOAT NOT NULL,
	dax FLOAT NOT NULL,
	nikkei_225 FLOAT NOT NULL,
	shanghai_composite FLOAT NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (timestamp)
)


2024-08-25 20:05:56,362 INFO sqlalchemy.engine.Engine [no key 0.00272s] ()
2024-08-25 20:05:56,480 INFO sqlalchemy.engine.Engine
CREATE TABLE web_feedback (
	id INTEGER NOT NULL,
	content TEXT NOT NULL,
	sentiment INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2024-08-25 20:05:56,482 INFO sqlalchemy.engine.Engine [no key 0.00156s] ()
2024-08-25 20:05:56,603 INFO sqlalchemy.engine.Engine
CREATE TABLE user_comment (
	id INTEGER NOT NULL,
	content TEXT NOT NULL,
	user_id INTEGER NOT NULL,
	regarding VARCHAR(5),
	sentiment INTEGER,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2024-08-25 20:05:56,604 INFO sqlalchemy.engine.Engine [no key 0.00170s] ()
2024-08-25 20:05:56,725 INFO sqlalchemy.engine.Engine
CREATE TABLE registrar_table (
	id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	webpage VARCHAR NOT NULL,
	email VARCHAR NOT NULL,
	phone VARCHAR NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES company_table (id)
)


2024-08-25 20:05:56,729 INFO sqlalchemy.engine.Engine [no key 0.00382s] ()
2024-08-25 20:05:56,836 INFO sqlalchemy.engine.Engine
CREATE TABLE events (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	event_date DATETIME NOT NULL,
	company_id INTEGER NOT NULL,
	related_to VARCHAR(7) NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES company_table (id)
)


2024-08-25 20:05:56,838 INFO sqlalchemy.engine.Engine [no key 0.00149s] ()
2024-08-25 20:05:56,936 INFO sqlalchemy.engine.Engine
CREATE TABLE news_company_association (
	news_id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	PRIMARY KEY (news_id, company_id),
	FOREIGN KEY(news_id) REFERENCES news_table (id) ON DELETE CASCADE,
	FOREIGN KEY(company_id) REFERENCES company_table (id) ON DELETE CASCADE
)


2024-08-25 20:05:56,937 INFO sqlalchemy.engine.Engine [no key 0.00139s] ()
2024-08-25 20:05:57,059 INFO sqlalchemy.engine.Engine
CREATE TABLE ipo_table (
	id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	registar_id INTEGER NOT NULL,
	offer_for_sale BIGINT,
	fresh_issue BIGINT,
	listing_platform VARCHAR NOT NULL,
	promoter_holding_preissue BIGINT,
	promoter_holding_postissue BIGINT,
	promoter_share_preissue BIGINT,
	about_company TEXT NOT NULL,
	about_ipo TEXT NOT NULL,
	overall_subscription FLOAT NOT NULL,
	rhp_url VARCHAR,
	drhp_url VARCHAR NOT NULL,
	anchor_investor_url VARCHAR NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES company_table (id),
	FOREIGN KEY(registar_id) REFERENCES registrar_table (id)
)


2024-08-25 20:05:57,061 INFO sqlalchemy.engine.Engine [no key 0.00167s] ()
2024-08-25 20:05:57,191 INFO sqlalchemy.engine.Engine
CREATE TABLE comment_company_association (
	comment_id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	PRIMARY KEY (comment_id, company_id),
	FOREIGN KEY(comment_id) REFERENCES user_comment (id) ON DELETE CASCADE,
	FOREIGN KEY(company_id) REFERENCES company_table (id) ON DELETE CASCADE
)


2024-08-25 20:05:57,193 INFO sqlalchemy.engine.Engine [no key 0.00183s] ()
2024-08-25 20:05:57,325 INFO sqlalchemy.engine.Engine
CREATE TABLE investor_distribution (
	id INTEGER NOT NULL,
	fii BIGINT NOT NULL,
	dii BIGINT NOT NULL,
	nii BIGINT NOT NULL,
	bnii BIGINT NOT NULL,
	snii BIGINT NOT NULL,
	retailer BIGINT NOT NULL,
	anchor BIGINT NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES ipo_table (id)
)


2024-08-25 20:05:57,329 INFO sqlalchemy.engine.Engine [no key 0.00386s] ()
2024-08-25 20:05:57,470 INFO sqlalchemy.engine.Engine
CREATE TABLE lot_size_table (
	id INTEGER NOT NULL,
	min_price_per_issue INTEGER NOT NULL,
	max_price_per_issue INTEGER NOT NULL,
	lot_size INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES ipo_table (id)
)


2024-08-25 20:05:57,473 INFO sqlalchemy.engine.Engine [no key 0.00295s] ()
2024-08-25 20:05:57,624 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
from faker import Faker
fake = Faker()#pass string to set languages of data generated.
Faker.seed(0)

<h1>User entry</h1>
<h3>Entry of 20 fake data</h3>

In [4]:
session = Session(engine)
for _ in range(20):
    user = User(
        username=fake.user_name(),
        password=hashPassword(fake.password()),
        fullname=fake.name(),
        email=fake.email(),
        avatar=fake.image_url(),
        access_token=fake.uuid4(),
        refresh_token=fake.uuid4(),
    )
    session.add(user)
session.commit()
session.close()

2024-08-25 20:06:24,254 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:06:24,259 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,260 INFO sqlalchemy.engine.Engine [generated in 0.00035s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('achang', '$2b$12$Jq25l9.oyRV8tujkmYXNyORBvHZhEfK8KpDHR9Gk16PQy/4TNje4q', 'Nicholas Nolan', 'thomas15@example.com', 'https://placekitten.com/647/418', '85776e9a-dd84-439e-b154-5a137a1d5006', 'eb2083e6-ce16-4dba-8ff1-8e0242af9fc3')
2024-08-25 20:06:24,263 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,264 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('davismary', '$2b$12$9a7lNnGSKCtUCvhvoxCp5eHZOHllKv3Gx5psW5qAZwqVMgog3JdpO', 'Juan Mann', 'lisa83@example.net', 'https://picsum.photos/589/911', '5129fb7c-6288-41a5-8c45-782198a6416d', '2f120554-4a53-48cc-bdfa-bc08935ddd72')
2024-08-25 20:06:24,265 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,266 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('lorijohnson', '$2b$12$DxckDGCRcdHELHx3Xt5AuuDz9ZK2Tr/LY24Dv9tJrfi1QlFQIyddC', 'Jennifer Hill', 'skeller@example.com', 'https://placekitten.com/168/664', 'a1515607-964a-470c-bc87-9b741d878f9f', '3e37952d-30bc-4b0e-9857-010255d44936')
2024-08-25 20:06:24,267 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,269 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('dennisdave', '$2b$12$lvlZcxOhjjpJr.ju6NCLZei1QpHtXL/KExPu8Cw2L28E8FfbXqzYm', 'Barbara Davis', 'johnsonandrew@example.org', 'https://picsum.photos/253/981', 'efdd35f8-0fa3-4266-8cfd-ba9bba26d851', '6cf55b15-8b53-431d-85d5-1433ade9b2b4')
2024-08-25 20:06:24,272 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('huffchad', '$2b$12$J42GZykCQd1SSQNyaKgRGe1e0k/Ej0KIUTAJdkmt7ZYFbv1wiERQ.', 'Autumn Morse', 'alexandermaldonado@example.net', 'https://dummyimage.com/637x731', '27460f22-403d-4f83-a859-890cd670f668', '753c7c99-032f-46ca-b0d9-c2aa8f837ef7')
2024-08-25 20:06:24,275 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,277 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('rogersbrandon', '$2b$12$qz9NL4hyumdUKnSHskoWq.V5zljUO/pZUWISE8auFYbjQziATZTri', 'Caitlin Walker', 'rgray@example.net', 'https://dummyimage.com/848x64', '6b10e53a-9145-4e05-b3ab-1b2cdf26f517', '0bf9c0ef-b581-4b74-a985-ab61c5adf681')
2024-08-25 20:06:24,279 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,280 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('seangreen', '$2b$12$MavI0oKzpxJNl9455nLgYuQqFTfvnTKCCTGJhvBT5ntY4uj8M/5UW', 'Michael Stewart', 'alexisfischer@example.net', 'https://picsum.photos/200/390', 'dfa7c6ed-32d1-481b-a636-425c9bbd750d', 'fa7ff8bf-b044-484a-87ac-f2f64d6b234f')
2024-08-25 20:06:24,282 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,283 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('craignash', '$2b$12$v0tZIN73CuMoPBOLnywLS.axgfw2L4qmSSX2pP00Ywj/Kc09rA1gC', 'Jacob Bradley', 'mathissusan@example.net', 'https://placekitten.com/1012/939', '89b5b368-df14-4612-9f58-d5b56f790959', '964ddb77-6025-40ae-b535-45792da44da1')
2024-08-25 20:06:24,286 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,287 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('alan24', '$2b$12$XL8Gzlxr9t9rZcU.vAHPqO1xF095g1xGbj1/uNwdnWnVk9CFMkbFq', 'Joseph Jones', 'thouston@example.com', 'https://placekitten.com/222/203', '564ae909-7958-4e69-bb2e-1b82e89dc815', 'cff4c56b-f9ea-4c64-8c41-7e7cd741d609')
2024-08-25 20:06:24,288 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,289 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('david17', '$2b$12$rwCJt7VrMqoTsUxOarzn2OthQn3KTUR3yAjEQtychMovl.qtqsn/C', 'Joan Burns', 'rodneyrichardson@example.com', 'https://picsum.photos/341/883', 'd26d5396-1058-4e8c-9d71-73e55bc7fdeb', '07120911-b3b6-4b57-9a54-f267dd138266')
2024-08-25 20:06:24,292 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,293 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('mgoodwin', '$2b$12$SuZa4LOCZ12T7X1MqkxF4e2Wu1IywXLTxdpcmar9XzXbu47U5.l/O', 'Jenny Boyd', 'martha73@example.net', 'https://dummyimage.com/448x19', 'e6256403-bf3d-40bb-b66a-c168b4a1ca79', '091472ad-5263-4db9-9170-34ce51797350')
2024-08-25 20:06:24,294 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,294 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('nancymorrison', '$2b$12$WovB.B/A.hrfDs50jo/JOeOEprT.Y0.vHWe4Jr8NUsRi9F21lfDFW', 'Joseph Johnson', 'gregorylinda@example.net', 'https://picsum.photos/156/873', '993ec8c6-e6b1-46e2-8911-0af04a276dda', '7b72590b-f8f8-4071-9360-da696af79ad2')
2024-08-25 20:06:24,296 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,296 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('olawson', '$2b$12$h9QhuqAFQ.2FjzPJd6O2duhaYPR.2QSlcNNPv7qG1eQxqwVzQ7wPG', 'Andrew Butler', 'mwu@example.net', 'https://dummyimage.com/167x310', '775e0ec3-9c9d-43f3-8901-8aee69407be7', '19faa06e-0c0a-4967-b579-501a62fda854')
2024-08-25 20:06:24,298 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,298 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('bosborne', '$2b$12$SarI14.Iq2gT1JLf2aGhauV3ZHwTc3lKbZXMv3OT5sqb8tB255a7q', 'Bethany Buck', 'sabrina18@example.org', 'https://dummyimage.com/78x802', '7499b28c-30c3-4323-81b1-99c45f1ff97c', '1349747a-a1cb-4182-8a20-854d5b471c43')
2024-08-25 20:06:24,300 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,302 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('wintersbill', '$2b$12$urj.WLRVBuavk0/gYVne0O1sJlmRd2rljvT0UbkRdb8SRYYeokG4q', 'Jennifer Garcia', 'jessicajohnson@example.com', 'https://picsum.photos/882/854', 'f655860b-dd32-4231-ab56-16997f22cd12', '141b1a1b-40a9-48bf-b8f8-903b53125ffd')
2024-08-25 20:06:24,304 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,305 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('chad50', '$2b$12$8GeVGJ0ZyoxdAqEJVr4imOTIUqttZbUgfrXz4HpqNAhkKxmMGahXq', 'Charles Gibson', 'qcooper@example.org', 'https://dummyimage.com/57x426', '4ae9ee11-f5fe-4213-b92e-cd7555c36c3d', 'f5492e22-e0df-4f74-afe7-8b604bdd5f99')
2024-08-25 20:06:24,307 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,308 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('jack11', '$2b$12$qBhpahyg/Iuq/wjq4MO2Hehm5gXTOV0MjRlHkbE8v9Y4nWvgr./Ny', 'Bonnie Evans', 'jyang@example.net', 'https://placekitten.com/864/610', '71df24d9-3f80-431f-95a5-712c5ac4b6c7', 'f2ed33e1-a315-4940-9e87-905aa1fdcdf1')
2024-08-25 20:06:24,309 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,310 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('bennettalan', '$2b$12$2o8aUWhBXG549Ad3HsY3O.qFrdkpXRAnd.SKmVNUjJm5Hf36/.stm', 'Joseph Kelly', 'webbjames@example.org', 'https://picsum.photos/919/946', 'c4c536fb-1d4d-4180-8c6e-6fbb37fef6b5', '8b92c247-4d18-4103-a100-ed14fa92cd28')
2024-08-25 20:06:24,312 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,313 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('rogerpotter', '$2b$12$gSFy/ygQsHXOQ8ISo57f7.Nx11qgMj7nK1762tQbNBIYsDO3v/DEy', 'Paul Stout', 'johnsonlaura@example.com', 'https://placekitten.com/696/242', 'eb83af16-e404-4808-bfc1-8c00dc0520a4', '6a325333-116e-4a64-a9de-b984c31277fd')
2024-08-25 20:06:24,314 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:24,315 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('justin29', '$2b$12$lE/bqRIQICIw3cpUv.US1u8GzXfvYLHa/2GYVpE1r3wWAoL3Q.0ha', 'Elizabeth Chen', 'frobinson@example.net', 'https://placekitten.com/651/1009', '4cd8ef24-71a8-49c6-8f6a-b75bf55b2e5c', '0d6a78b0-7eda-4ab9-bec6-0ffe248f4a25')
2024-08-25 20:06:24,319 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating feedback and comment table</h1>

In [5]:
import numpy as np
session = Session(engine)
for _ in range(20):
    feedback = Feedback(
        content = fake.text(),
        user_id = np.random.randint(1,20),
        sentiment = 'GOOD' if np.random.randint(0,10)%2==0  else 'BAD'
        
    )
    session.add(feedback)
session.commit()
session.close()

2024-08-25 20:06:39,774 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:06:39,782 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,784 INFO sqlalchemy.engine.Engine [generated in 0.00053s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('Agent likely thousand act money. Rather bank we under. According American per yourself their record. Cell of course its respond.', 'BAD', 4)
2024-08-25 20:06:39,791 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,796 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('Almost plan that hair sea quality.\nFather beautiful than seem sign third in approach. Program possible natural same issue lawyer effort.', 'BAD', 2)
2024-08-25 20:06:39,798 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,800 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('Eight miss couple bag thank generation. Economy rock feeling might his. Gas Republican and various authority leave right.\nWithout leave brother bank better she.', 'BAD', 18)
2024-08-25 20:06:39,802 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,805 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('Represent since method left plant. Discussion budget situation between run. Design they young according movement.', 'GOOD', 2)
2024-08-25 20:06:39,807 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,808 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('Happen play speech theory choice computer. Career deal trip market. Dog car do his part.\nMaterial truth pattern ago other majority final when. Present produce manager well lose finish summer.', 'GOOD', 9)
2024-08-25 20:06:39,810 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,812 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('General class admit of around. Character against physical agency and difficult president at.\nWill institution throughout describe itself group. Power road size impact.', 'BAD', 7)
2024-08-25 20:06:39,813 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,815 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('Important hope about catch. Style record bag down stock computer watch. Sea stuff no response.', 'BAD', 5)
2024-08-25 20:06:39,817 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,819 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('Significant now energy. Lay return identify. Anything event yet effect quite reflect upon.\nMight history strong economy break word source. Only result race government trouble.', 'GOOD', 3)
2024-08-25 20:06:39,821 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,823 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('Notice kind game act.\nSection could nature interest wear. Morning as police often. Place myself his itself find add sing.\nMrs never wrong couple site. Suddenly seek choice produce.', 'GOOD', 1)
2024-08-25 20:06:39,825 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,827 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('Of door research tell. When clearly type up. Wait education think similar particular before.\nAction economy several hit simple personal home.\nLet stop camera report foreign agency list miss.', 'BAD', 1)
2024-08-25 20:06:39,828 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,829 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('Likely fire subject west agent hotel by. Image central challenge term memory.\nThroughout treat relate respond. Role mind statement.', 'BAD', 6)
2024-08-25 20:06:39,831 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,833 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('Particularly speech mission remember tree care sign. Myself star gas spend.\nInto good later street. Gun subject PM carry understand consumer by.', 'GOOD', 12)
2024-08-25 20:06:39,834 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,835 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('We ask benefit ago again. Pattern president add lead network the.\nBall appear television so teach energy possible. Student bag grow better. Child might source.\nHeavy church nature.', 'BAD', 1)
2024-08-25 20:06:39,838 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,840 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('Difficult there leg theory case north. Class on reach.\nAffect station member although. Of challenge check skin.\nJob trial four easy case member.', 'BAD', 2)
2024-08-25 20:06:39,841 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,842 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('American focus something who blood. Certain hotel should.\nUnder require page claim future in. Truth ten seven both happy central group line. Send cultural whatever computer on fast play.', 'BAD', 7)
2024-08-25 20:06:39,844 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,845 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('Nation network college debate direction moment. Ground think save respond friend budget while.', 'GOOD', 11)
2024-08-25 20:06:39,847 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,848 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('Blood single recently other owner message entire. Collection be along break gun reveal five put. Once effect main simply two no. Sister meet though ago.', 'BAD', 2)
2024-08-25 20:06:39,850 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,851 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('If do them although per environmental medical nearly. Line Congress must city system story.\nAttention attention hotel well news enter director. Father growth behind probably.', 'GOOD', 14)
2024-08-25 20:06:39,854 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,856 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('Stuff find different many water meeting future. Fight institution school white.\nExplain current simply process sit. His can sing husband matter.', 'GOOD', 12)
2024-08-25 20:06:39,857 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:39,858 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('Body himself home message woman. Stock determine human find discussion military ability. First through dinner whose worker offer American.', 'GOOD', 9)
2024-08-25 20:06:39,862 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
session = Session(engine)
lst = ['stock','ipo','index', 'nifty']
for _ in range(20):
    comment = Comment(
        content = fake.text(),
        user_id = np.random.randint(1,40),
        sentiment = 'GOOD' if np.random.randint(0,10)%2==0  else 'BAD',
        regarding = lst[np.random.randint(0,4)],
    )
    session.add(comment)
session.commit()
session.close()

2024-08-25 20:06:47,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:06:47,562 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,564 INFO sqlalchemy.engine.Engine [generated in 0.00055s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('Bank letter summer minute perform. At computer doctor up high southern. Decision wish among west agreement girl. Still quality political other begin war.', 4, 'index', 'GOOD')
2024-08-25 20:06:47,570 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,572 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('Condition natural can effort bad measure star. Law go simple improve language. Need when simple.\nDrop local cell kid growth main. Why mission because feel.', 26, 'ipo', 'BAD')
2024-08-25 20:06:47,574 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,576 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('Its plant pay together number degree kid drug. Such new cultural analysis care kitchen purpose difference. Technology serious international position. Those full rate clear newspaper.', 14, 'nifty', 'BAD')
2024-08-25 20:06:47,578 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,579 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('Decision above you carry poor majority herself. At painting room sell daughter pay growth. Seat should dream whose.\nTell mention check election order everything stuff detail.', 31, 'stock', 'GOOD')
2024-08-25 20:06:47,581 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,582 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('Evening his gas health sort couple station my.\nNeed claim many against television former general. Party individual so attack. Bit avoid yourself campaign alone subject development.', 20, 'stock', 'BAD')
2024-08-25 20:06:47,584 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,585 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('Stock worker everybody professor show bar standard. The site follow be add.\nRepublican without mention get. Become me story but order leg food.', 23, 'index', 'BAD')
2024-08-25 20:06:47,587 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,588 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('Situation eat thousand. Cause others skill industry old effect fine.\nThreat remain interest college anything relationship local. Draw final station. Whether address senior moment.', 37, 'ipo', 'BAD')
2024-08-25 20:06:47,590 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at

2024-08-25 20:06:47,592 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('Discussion star individual third.\nServe can street race seat. Would federal test some score reveal so.\nInclude herself hold his. Manage camera beat activity stay bank which.', 3, 'index', 'BAD')
2024-08-25 20:06:47,596 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,598 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('Speak really eat report to product outside.\nAdd challenge project happen white. Politics effect against southern very talk part. List key little fast speak tree.', 2, 'stock', 'GOOD')
2024-08-25 20:06:47,599 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,601 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('Smile create either. Adult others talk without. Stay describe time.\nTrade product participant environment. Again trouble cold. While door statement scene teach. Old site record should.', 10, 'index', 'BAD')
2024-08-25 20:06:47,602 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,603 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('Measure only wait technology town approach today all. Maybe information forward trouble. Country article will firm woman section magazine loss. Especially position learn senior today mention.', 11, 'ipo', 'GOOD')
2024-08-25 20:06:47,604 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,605 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('Stay soon account part wind well thousand. His within though finish star be. Popular see different decide trip total.\nSite car room father identify within street national.', 22, 'nifty', 'BAD')
2024-08-25 20:06:47,606 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,610 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('According star study form seem beat. Effect forward magazine movie base.', 20, 'index', 'GOOD')
2024-08-25 20:06:47,612 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,613 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('Season toward level generation since also. Sit hand society according off little. Itself people nation million born American. Always hand game magazine series think.', 25, 'nifty', 'GOOD')
2024-08-25 20:06:47,616 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,617 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('Your outside wish community kid official within.\nCentury involve down herself drive effort drop onto. Walk draw front plan focus century. Nearly movie report boy two.', 18, 'stock', 'BAD')
2024-08-25 20:06:47,620 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,621 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('Read information fire purpose very. Approach trip throughout free civil entire. Just nature increase trouble heart watch bed.', 29, 'stock', 'GOOD')
2024-08-25 20:06:47,622 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,623 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('Walk two most ten cup far training. Week carry then election small certainly pattern daughter.\nWind consider that admit Mrs look. Sense scientist bank result.', 31, 'stock', 'BAD')
2024-08-25 20:06:47,626 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,627 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('Box operation prepare might catch that. Century energy safe crime social school enter.', 14, 'stock', 'GOOD')
2024-08-25 20:06:47,629 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,634 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('Cut drive out. Attorney stock defense cup man course.\nCandidate crime officer police it house political. Pull likely piece small go.\nWindow key military. Stay century law before everybody.', 3, 'stock', 'GOOD')
2024-08-25 20:06:47,636 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:47,637 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('Tv drive adult executive military plan. Break focus raise away.\nYes miss interest rise her. Central baby picture.\nCould own glass one then investment scientist. Walk cause trouble movie.', 11, 'stock', 'GOOD')
2024-08-25 20:06:47,640 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating news</h1>

In [7]:
for _ in range(20):  # Adjust the range for the number of entries you want to create
    fake_news = News(
        headline=fake.sentence(nb_words=10),  # Generates a fake headline
        content=fake.paragraph(nb_sentences=5),  # Generates fake content
        topic=fake.word(),  # Generates a random word as the topic
        news_url=fake.url(),  # Generates a fake URL
        sentiment=fake.random_int(min=-1, max=1),  # Random sentiment (-1, 0, 1)
        sentiment_statement=fake.sentence(nb_words=8),  # Generates a fake sentiment statement
    )
    session.add(fake_news)
session.commit()

# Close the session
session.close()

2024-08-25 20:06:51,980 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:06:51,985 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:51,986 INFO sqlalchemy.engine.Engine [generated in 0.00032s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('Beat start say either none heavy down business state way sister civil market.', 'Actually century over short certain. Summer specific option concern. Evidence especially life sister. Information among avoid still later get effect imagine. Worker present defense. Or century their defense. Wind action economy official natural can.', 'glass', 'https://www.davis-banks.com/', -1, 'Tough fill happy last hit poor appear.')
2024-08-25 20:06:51,994 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:51,999 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('Member sign life successful season crime study environment style.', 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.', 'sort', 'https://mcdaniel.biz/', 0, 'Half black because song capital administration sound teach.')
2024-08-25 20:06:52,000 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,002 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('Pressure down PM benefit arm subject over feeling money newspaper.', 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.', 'themselves', 'http://decker.com/', -1, 'Bar shoulder decade rich director population measure.')
2024-08-25 20:06:52,003 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,004 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('Cost policy across inside water do get finish pick shake.', 'General simple cost develop left. Head perform walk. Put again big role stand. Cup home record forward. Allow including level well.', 'let', 'https://www.bradley.info/', -1, 'Rest really wait if everything.')
2024-08-25 20:06:52,005 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,007 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('Into name response garden trip culture far.', 'Region reduce ask although get poor herself. Executive will network physical play. Child push it why research wind yard. Return few natural fight stand one significant get. Keep kid assume dinner former heavy.', 'probably', 'https://www.underwood.com/', -1, 'Wall allow power condition pressure would.')
2024-08-25 20:06:52,008 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,010 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('Push conference however find most city citizen to produce list run.', 'Hospital one environment set attack. Detail value plant nature day. Interest amount understand hard. Final ability person choose order.', 'condition', 'https://www.taylor.com/', -1, 'Parent produce cut beyond maintain.')

2024-08-25 20:06:52,012 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,015 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('Boy response knowledge may thousand music catch.', 'Memory ball media along these easy. To more food recognize national training. Not before painting sure whom. Wall measure again ability election. Present carry break majority low.', 'car', 'https://brennan.com/', 1, 'Customer plan maybe manager place fly play pay.')
2024-08-25 20:06:52,017 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,018 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('Good human billion ever up hold ground point discuss.', 'Mr sing city energy season environment. Yet possible account question. Pretty wish standard single conference.', 'hope', 'http://www.gonzalez-bradley.org/', -1, 'Expect really amount accept sometimes city commercial identify.')
2024-08-25 20:06:52,020 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,021 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('Nature cup whom poor send through law national last people friend state half.', 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.', 'since', 'http://haynes.org/', -1, 'Treat see better child computer either total.')
2024-08-25 20:06:52,022 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('Fly rock make build painting either return heart message matter position.', 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.', 'growth', 'http://www.nielsen-baker.net/', 1, 'Benefit thus mean certainly value create agree likely off anything.')
2024-08-25 20:06:52,025 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('Letter career election few turn think tree amount billion beyond quality fill final oil.', 'Price little identify. Before talk want it manage. Certainly special seven physical court author. Let guy son last.', 'else', 'http://bush.info/', -1, 'Mr painting role company produce.')
2024-08-25 20:06:52,029 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,032 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('Evening green require bring her serve finally task.', 'Probably few cost summer city. Bag model employee relate anything. Hospital machine cell cell.', 'will', 'http://www.wilson.com/', -1, 'Oil describe section few stay top most reflect shake phone.')
2024-08-25 20:06:52,035 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,036 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('End time trouble stay beat PM stage short put lay too.', 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.', 'public', 'https://smith-cohen.com/', 0, 'Matter remember body keep body lay.')
2024-08-25 20:06:52,038 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,039 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('No none say heart information part full your yeah certain return suddenly.', 'Ability no affect catch. Area traditional property she. Serve rule thus. Western worry week people worker time. Hot always say notice though. Increase simple as.', 'provide', 'http://ware-waters.info/', 0, 'Including form entire thank kitchen move husband friend idea thus.')
2024-08-25 20:06:52,040 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,042 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('Up add subject research sell idea school still up.', 'Local week color wait. Back use me media onto. Product building view its.', 'create', 'http://www.johnson.com/', 1, 'Chair decide grow between heavy by.')
2024-08-25 20:06:52,043 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,044 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('Through data difference others know expert cell style believe tough wait candidate under.', 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.', 'low', 'http://www.navarro.com/', 1, 'Suddenly really social standard even exist identify agency toward.')
2024-08-25 20:06:52,046 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,047 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('Car stand form parent majority know participant.', 'Space federal condition officer speech back. Tell thank type politics catch information where. Reality no work collection.', 'beautiful', 'http://www.harris.com/', -1, 'Form great education training see we find knowledge.')
2024-08-25 20:06:52,049 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,050 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('Then say listen miss other how require take.', 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.', 'condition', 'http://www.parsons-lewis.com/', 0, 'Admit any could manage probably.')
2024-08-25 20:06:52,051 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,054 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('Fact scientist nothing change suffer space a would free finally national difficult.', 'Off government forget. Step generation beyond nor goal. Study others stand. It start now.', 'finally', 'http://www.berry.com/', 1, 'Something camera himself compare detail.')
2024-08-25 20:06:52,057 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-08-25 20:06:52,059 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('Blue tend house staff commercial herself prove picture million type speech other question.', 'Message picture study customer leader contain culture. Customer family food. Some Congress result every war. Series window tax marriage. Size improve hit nice kind performance.', 'teach', 'https://www.jensen.info/', -1, 'Rock music check close agreement box people point month smile.')
2024-08-25 20:06:52,062 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating company Table</h1>

In [8]:
for _ in range(10):  # Adjust the range for the number of entries you want to create
    fake_company = Company(
        symbol=fake.bothify(text='???#'),  # Generates a fake stock symbol (e.g., "ABC1")
        company_name=fake.company(),  # Generates a fake company name
        mcap=fake.random_int(min=100000000, max=10000000000),  # Generates a random market cap
        sector=fake.word(ext_word_list=['Technology', 'Finance', 'Healthcare', 'Energy', 'Consumer Goods']),  # Selects a random sector
    )
    session.add(fake_company)

# Commit the session to save the data
session.commit()

# Close the session
session.close()

2024-08-25 20:06:56,997 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:06:57,001 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,002 INFO sqlalchemy.engine.Engine [generated in 0.00020s (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Aqa8', 'Taylor-Robertson', 7467160414, 'Consumer Goods')
2024-08-25 20:06:57,006 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,007 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/10 (ordered; batch not supported)] ('XAX4', 'Walton PLC', 1243566311, 'Healthcare')
2024-08-25 20:06:57,010 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,012 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/10 (ordered; batch not supported)] ('SrF1', 'Guerra-Brown', 9827511425, 'Technology')
2024-08-25 20:06:57,014 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,015 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/10 (ordered; batch not supported)] ('smv5', 'Allen and Sons', 9497455021, 'Energy')
2024-08-25 20:06:57,017 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,019 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/10 (ordered; batch not supported)] ('IqQ1', 'Cordova LLC', 8276210428, 'Technology')
2024-08-25 20:06:57,021 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,024 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/10 (ordered; batch not supported)] ('QcI8', 'Cohen-King', 3145992988, 'Consumer Goods')
2024-08-25 20:06:57,026 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/10 (ordered; batch not supported)] ('Vfg4', 'Cantrell, Craig and Gomez', 4918564110, 'Healthcare')
2024-08-25 20:06:57,031 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,033 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/10 (ordered; batch not supported)] ('Fsp2', 'Carpenter, Allen and Woods', 5222770380, 'Energy')
2024-08-25 20:06:57,036 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/10 (ordered; batch not supported)] ('ugY4', 'Ford Ltd', 656940324, 'Energy')
2024-08-25 20:06:57,038 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-08-25 20:06:57,039 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/10 (ordered; batch not supported)] ('XEu6', 'Collins, Thomas and Williams', 4679874177, 'Consumer Goods')
2024-08-25 20:06:57,043 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating Association tables</h1>

In [9]:
comments = session.query(Comment).all()
news_entries = session.query(News).all()
companies = session.query(Company).all()

2024-08-25 20:06:59,635 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:06:59,642 INFO sqlalchemy.engine.Engine SELECT user_comment.id AS user_comment_id, user_comment.content AS user_comment_content, user_comment.user_id AS user_comment_user_id, user_comment.regarding AS user_comment_regarding, user_comment.sentiment AS user_comment_sentiment, user_comment.created_at AS user_comment_created_at
FROM user_comment
2024-08-25 20:06:59,643 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ()
2024-08-25 20:06:59,650 INFO sqlalchemy.engine.Engine SELECT news_table.id AS news_table_id, news_table.headline AS news_table_headline, news_table.content AS news_table_content, news_table.topic AS news_table_topic, news_table.news_url AS news_table_news_url, news_table.sentiment AS news_table_sentiment, news_table.sentiment_statement AS news_table_sentiment_statement, news_table.created_at AS news_table_created_at
FROM news_table
2024-08-25 20:06:59,651 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ()
2024-08-25 20:06:59,656 INFO sqlalchemy.engine.Engine SELECT company_table.id AS company_table_id, company_table.symbol AS company_table_symbol, company_table.company_name AS company_table_company_name, company_table.mcap AS company_table_mcap, company_table.sector AS company_table_sector, company_table.created_at AS company_table_created_at, company_table.updated_at AS company_table_updated_at
FROM company_table
2024-08-25 20:06:59,657 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ()

In [10]:
import random

session = Session(engine)
# Populate CommentCompanyAssociation
for comment in comments:
    # Randomly associate a few companies with each comment
    associated_companies = random.sample(companies, k=random.randint(1, 5))  # Adjust range as needed
    for company in associated_companies:
        association = CommentCompanyAssociation(
            comment_id=comment.id,
            company_id=company.id
        )
        session.add(association)



# Populate NewsCompanyAssociation
for news in news_entries:
    # Randomly associate a few companies with each news entry
    associated_companies = random.sample(companies, k=random.randint(1, 3))  # Adjust range as needed
    for company in associated_companies:
        association = NewsCompanyAssociation(
            news_id=news.id,
            company_id=company.id
        )
        session.add(association)


session.commit()

# Close the session
session.close()

2024-08-25 20:07:00,626 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:07:00,631 INFO sqlalchemy.engine.Engine INSERT INTO comment_company_association (comment_id, company_id) VALUES (?, ?)
2024-08-25 20:07:00,634 INFO sqlalchemy.engine.Engine [generated in 0.00354s] [(1, 2), (1, 10), (1, 7), (2, 8), (3, 7), (3, 3), (4, 8), (4, 9)  ... displaying 10 of 55 total bound parameter sets ...  (20, 10), (20, 3)]
2024-08-25 20:07:00,641 INFO sqlalchemy.engine.Engine INSERT INTO news_company_association (news_id, company_id) VALUES (?, ?)
2024-08-25 20:07:00,642 INFO sqlalchemy.engine.Engine [generated in 0.00140s] [(1, 5), (1, 8), (2, 6), (2, 5), (2, 4), (3, 1), (4, 4), (4, 2)  ... displaying 10 of 40 total bound parameter sets ...  (20, 6), (20, 10)]
2024-08-25 20:07:00,647 INFO sqlalchemy.engine.Engine COMMIT

<h1>Queries</h1>

In [11]:
users = session.query(User).all()

2024-08-25 20:07:05,315 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 20:07:05,325 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.fullname AS users_fullname, users.email AS users_email, users.avatar AS users_avatar, users.access_token AS users_access_token, users.refresh_token AS users_refresh_token, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
2024-08-25 20:07:05,326 INFO sqlalchemy.engine.Engine [generated in 0.00133s] ()

In [12]:
users[11].feedbacks

2024-08-25 20:07:07,646 INFO sqlalchemy.engine.Engine SELECT web_feedback.id AS web_feedback_id, web_feedback.content AS web_feedback_content, web_feedback.sentiment AS web_feedback_sentiment, web_feedback.user_id AS web_feedback_user_id, web_feedback.created_at AS web_feedback_created_at
FROM web_feedback
WHERE ? = web_feedback.user_id
2024-08-25 20:07:07,650 INFO sqlalchemy.engine.Engine [generated in 0.00438s] (12,)

[Feedback 12 given by 12, Feedback 19 given by 12]

In [13]:
users[2].comments

2024-08-25 20:07:08,761 INFO sqlalchemy.engine.Engine SELECT user_comment.id AS user_comment_id, user_comment.content AS user_comment_content, user_comment.user_id AS user_comment_user_id, user_comment.regarding AS user_comment_regarding, user_comment.sentiment AS user_comment_sentiment, user_comment.created_at AS user_comment_created_at
FROM user_comment
WHERE ? = user_comment.user_id
2024-08-25 20:07:08,768 INFO sqlalchemy.engine.Engine [generated in 0.00722s] (3,)

[Comment 8 posted by 3 with sentiment 'BAD',
 Comment 19 posted by 3 with sentiment 'GOOD']

In [14]:
session.delete(users[2])
session.commit()
session.close()

2024-08-25 20:07:10,898 INFO sqlalchemy.engine.Engine SELECT web_feedback.id AS web_feedback_id, web_feedback.content AS web_feedback_content, web_feedback.sentiment AS web_feedback_sentiment, web_feedback.user_id AS web_feedback_user_id, web_feedback.created_at AS web_feedback_created_at
FROM web_feedback
WHERE ? = web_feedback.user_id
2024-08-25 20:07:10,901 INFO sqlalchemy.engine.Engine [cached since 3.256s ago] (3,)
2024-08-25 20:07:10,913 INFO sqlalchemy.engine.Engine DELETE FROM user_comment WHERE user_comment.id = ?
2024-08-25 20:07:10,915 INFO sqlalchemy.engine.Engine [generated in 0.00206s] [(8,), (19,)]
2024-08-25 20:07:10,920 INFO sqlalchemy.engine.Engine DELETE FROM web_feedback WHERE web_feedback.id = ?
2024-08-25 20:07:10,922 INFO sqlalchemy.engine.Engine [generated in 0.00203s] (8,)
2024-08-25 20:07:10,929 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?
2024-08-25 20:07:10,931 INFO sqlalchemy.engine.Engine [generated in 0.00257s] (3,)
2024-08-25 20:07:10,939 INFO sqlalchemy.engine.Engine COMMIT

In [39]:
users = session.query(User).all()
users[2]

2024-08-25 18:57:09,925 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 18:57:09,928 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.fullname AS users_fullname, users.email AS users_email, users.avatar AS users_avatar, users.access_token AS users_access_token, users.refresh_token AS users_refresh_token, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
2024-08-25 18:57:09,930 INFO sqlalchemy.engine.Engine [cached since 453.1s ago] ()

User(id=5, name='rogersbrandon', fullname='Caitlin Walker')

In [15]:
from sqlalchemy import Column, Integer, String, ForeignKey, Table, create_engine
from sqlalchemy.orm import relationship, sessionmaker, mapped_column
from sqlalchemy.ext.declarative import declarative_base

# Association table between B and C
b_c_association = Table(
    'b_c_association',
    Base.metadata,
    Column('b_id', Integer, ForeignKey('b_table.id', ondelete='CASCADE'), primary_key=True),
    Column('c_id', Integer, ForeignKey('c_table.id', ondelete='CASCADE'), primary_key=True)
)

class A(Base):
    __tablename__ = 'a_table'
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String, nullable=False)

    # Relationship to B with cascading deletes
    bs = relationship('B', back_populates='a', cascade='all, delete-orphan')

class B(Base):
    __tablename__ = 'b_table'
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String, nullable=False)
    a_id: Mapped[int] = mapped_column(ForeignKey('a_table.id', ondelete='CASCADE'))

    # Relationship to A and C with cascading deletes
    a = relationship('A', back_populates='bs')
    cs = relationship('C', secondary=b_c_association, back_populates='bs')

class C(Base):
    __tablename__ = 'c_table'
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String, nullable=False)

    # Relationship to B
    bs = relationship('B', secondary=b_c_association, back_populates='cs')

In [16]:
Base.metadata.create_all(engine)

2024-08-25 22:49:25,190 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 22:49:25,191 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-08-25 22:49:25,194 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,196 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-08-25 22:49:25,197 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,199 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-08-25 22:49:25,201 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,203 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-08-25 22:49:25,203 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,205 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-08-25 22:49:25,206 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,221 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-08-25 22:49:25,223 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,225 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-08-25 22:49:25,226 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,232 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-08-25 22:49:25,234 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,237 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-08-25 22:49:25,240 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,242 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-08-25 22:49:25,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,250 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-08-25 22:49:25,254 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,257 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-08-25 22:49:25,268 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,270 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-08-25 22:49:25,271 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,277 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("b_c_association")
2024-08-25 22:49:25,280 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,282 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("b_c_association")
2024-08-25 22:49:25,284 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,306 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("a_table")
2024-08-25 22:49:25,308 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,318 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("a_table")
2024-08-25 22:49:25,332 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,334 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("b_table")
2024-08-25 22:49:25,336 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,338 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("b_table")
2024-08-25 22:49:25,339 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,340 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("c_table")
2024-08-25 22:49:25,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,343 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("c_table")
2024-08-25 22:49:25,356 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-25 22:49:25,359 INFO sqlalchemy.engine.Engine
CREATE TABLE a_table (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2024-08-25 22:49:25,360 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2024-08-25 22:49:25,472 INFO sqlalchemy.engine.Engine
CREATE TABLE c_table (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2024-08-25 22:49:25,474 INFO sqlalchemy.engine.Engine [no key 0.00237s] ()
2024-08-25 22:49:25,589 INFO sqlalchemy.engine.Engine
CREATE TABLE b_table (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	a_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(a_id) REFERENCES a_table (id) ON DELETE CASCADE
)


2024-08-25 22:49:25,590 INFO sqlalchemy.engine.Engine [no key 0.00083s] ()
2024-08-25 22:49:25,713 INFO sqlalchemy.engine.Engine
CREATE TABLE b_c_association (
	b_id INTEGER NOT NULL,
	c_id INTEGER NOT NULL,
	PRIMARY KEY (b_id, c_id),
	FOREIGN KEY(b_id) REFERENCES b_table (id) ON DELETE CASCADE,
	FOREIGN KEY(c_id) REFERENCES c_table (id) ON DELETE CASCADE
)


2024-08-25 22:49:25,714 INFO sqlalchemy.engine.Engine [no key 0.00195s] ()
2024-08-25 22:49:25,857 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
Session = sessionmaker(bind=engine)
session = Session()

faker = Faker()

# Function to create and populate the tables
def populate_tables(num_a=5, num_b_per_a=3, num_c=10):
    # Create and add instances of A
    for _ in range(num_a):
        a = A(name=faker.company())
        session.add(a)
        
        # Create and add instances of B related to A
        for _ in range(num_b_per_a):
            b = B(name=faker.bs(), a=a)
            session.add(b)
            
            # Randomly assign C instances to B (many-to-many)
            cs_for_b = session.query(C).all()
            if not cs_for_b:
                cs_for_b = [C(name=faker.catch_phrase()) for _ in range(num_c)]
                session.add_all(cs_for_b)

            b.cs.extend(random.sample(cs_for_b, random.randint(1, len(cs_for_b))))
    
    # Commit all changes to the database
    session.commit()

# Populating the tables
populate_tables()

# Query to check the population
all_a = session.query(A).all()
for a in all_a:
    print(f"A: {a.name}")
    for b in a.bs:
        print(f"  B: {b.name}")
        for c in b.cs:
            print(f"    C: {c.name}")

# Close the session
session.close()

2024-08-25 22:57:19,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 22:57:19,594 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-08-25 22:57:19,597 INFO sqlalchemy.engine.Engine [generated in 0.00301s] ('Jones Inc',)
2024-08-25 22:57:19,605 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,608 INFO sqlalchemy.engine.Engine [generated in 0.00284s] ('cultivate impactful e-services', 1)
2024-08-25 22:57:19,613 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,617 INFO sqlalchemy.engine.Engine [generated in 0.00475s] ()
2024-08-25 22:57:19,624 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,626 INFO sqlalchemy.engine.Engine [generated in 0.00023s (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Implemented responsive benchmark',)
2024-08-25 22:57:19,629 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,630 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/10 (ordered; batch not supported)] ('Optimized responsive paradigm',)
2024-08-25 22:57:19,632 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,633 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/10 (ordered; batch not supported)] ('Implemented needs-based algorithm',)
2024-08-25 22:57:19,635 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,636 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/10 (ordered; batch not supported)] ('Re-contextualized actuating initiative',)
2024-08-25 22:57:19,637 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,639 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/10 (ordered; batch not supported)] ('User-centric incremental moderator',)
2024-08-25 22:57:19,640 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,641 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/10 (ordered; batch not supported)] ('Multi-layered discrete time-frame',)
2024-08-25 22:57:19,643 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,644 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/10 (ordered; batch not supported)] ('Fully-configurable cohesive projection',)
2024-08-25 22:57:19,645 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,647 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/10 (ordered; batch not supported)] ('Streamlined bi-directional budgetary management',)
2024-08-25 22:57:19,648 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,650 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/10 (ordered; batch not supported)] ('Public-key real-time circuit',)
2024-08-25 22:57:19,655 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-08-25 22:57:19,656 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/10 (ordered; batch not supported)] ('Implemented heuristic matrix',)
2024-08-25 22:57:19,661 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,663 INFO sqlalchemy.engine.Engine [generated in 0.00277s] (1,)
2024-08-25 22:57:19,668 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,670 INFO sqlalchemy.engine.Engine [cached since 0.06449s ago] ('deliver interactive e-commerce', 1)
2024-08-25 22:57:19,672 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,674 INFO sqlalchemy.engine.Engine [generated in 0.00271s] [(1, 8), (1, 5)]
2024-08-25 22:57:19,685 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,691 INFO sqlalchemy.engine.Engine [cached since 0.07783s ago] ()
2024-08-25 22:57:19,694 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,696 INFO sqlalchemy.engine.Engine [cached since 0.03534s ago] (2,)
2024-08-25 22:57:19,705 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,707 INFO sqlalchemy.engine.Engine [cached since 0.1015s ago] ('revolutionize B2C metrics', 1)
2024-08-25 22:57:19,709 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,710 INFO sqlalchemy.engine.Engine [cached since 0.0384s ago] [(2, 10), (2, 1), (2, 9), (2, 7), (2, 8), (2, 6), (2, 5), (2, 4)]
2024-08-25 22:57:19,713 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,714 INFO sqlalchemy.engine.Engine [cached since 0.1017s ago] ()
2024-08-25 22:57:19,723 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,724 INFO sqlalchemy.engine.Engine [cached since 0.0638s ago] (3,)
2024-08-25 22:57:19,730 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-08-25 22:57:19,731 INFO sqlalchemy.engine.Engine [cached since 0.137s ago] ('Beard, Bonilla and White',)
2024-08-25 22:57:19,739 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,740 INFO sqlalchemy.engine.Engine [cached since 0.135s ago] ('repurpose vertical supply-chains', 2)
2024-08-25 22:57:19,742 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,744 INFO sqlalchemy.engine.Engine [cached since 0.07194s ago] [(3, 10), (3, 9)]
2024-08-25 22:57:19,746 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,748 INFO sqlalchemy.engine.Engine [cached since 0.1349s ago] ()
2024-08-25 22:57:19,754 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,756 INFO sqlalchemy.engine.Engine [cached since 0.09514s ago] (4,)
2024-08-25 22:57:19,759 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,761 INFO sqlalchemy.engine.Engine [cached since 0.1559s ago] ('orchestrate sticky mindshare', 2)
2024-08-25 22:57:19,763 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,767 INFO sqlalchemy.engine.Engine [generated in 0.00165s] (4, 4)
2024-08-25 22:57:19,771 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,773 INFO sqlalchemy.engine.Engine [cached since 0.1603s ago] ()
2024-08-25 22:57:19,776 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,778 INFO sqlalchemy.engine.Engine [cached since 0.1172s ago] (5,)
2024-08-25 22:57:19,784 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,786 INFO sqlalchemy.engine.Engine [cached since 0.1809s ago] ('harness interactive platforms', 2)
2024-08-25 22:57:19,789 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,790 INFO sqlalchemy.engine.Engine [cached since 0.1187s ago] [(5, 1), (5, 9), (5, 10), (5, 7), (5, 4), (5, 3), (5, 6)]
2024-08-25 22:57:19,793 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,795 INFO sqlalchemy.engine.Engine [cached since 0.182s ago] ()
2024-08-25 22:57:19,798 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,802 INFO sqlalchemy.engine.Engine [cached since 0.1408s ago] (6,)
2024-08-25 22:57:19,807 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-08-25 22:57:19,816 INFO sqlalchemy.engine.Engine [cached since 0.2216s ago] ('Mcgee, Hoffman and Mclean',)
2024-08-25 22:57:19,818 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,819 INFO sqlalchemy.engine.Engine [cached since 0.2137s ago] ('extend compelling deliverables', 3)
2024-08-25 22:57:19,821 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,822 INFO sqlalchemy.engine.Engine [cached since 0.1503s ago] [(6, 7), (6, 6), (6, 3), (6, 9), (6, 1), (6, 4), (6, 8), (6, 2), (6, 5), (6, 10)]
2024-08-25 22:57:19,824 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,825 INFO sqlalchemy.engine.Engine [cached since 0.2126s ago] ()
2024-08-25 22:57:19,828 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,829 INFO sqlalchemy.engine.Engine [cached since 0.1682s ago] (7,)
2024-08-25 22:57:19,832 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,833 INFO sqlalchemy.engine.Engine [cached since 0.2279s ago] ('re-intermediate rich technologies', 3)
2024-08-25 22:57:19,835 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,836 INFO sqlalchemy.engine.Engine [cached since 0.07271s ago] (7, 7)
2024-08-25 22:57:19,838 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,839 INFO sqlalchemy.engine.Engine [cached since 0.2264s ago] ()
2024-08-25 22:57:19,842 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,843 INFO sqlalchemy.engine.Engine [cached since 0.1821s ago] (8,)
2024-08-25 22:57:19,847 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,850 INFO sqlalchemy.engine.Engine [cached since 0.2449s ago] ('facilitate e-business e-tailers', 3)
2024-08-25 22:57:19,852 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,853 INFO sqlalchemy.engine.Engine [cached since 0.1814s ago] [(8, 10), (8, 7), (8, 2), (8, 5), (8, 9), (8, 6), (8, 4)]
2024-08-25 22:57:19,855 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,857 INFO sqlalchemy.engine.Engine [cached since 0.244s ago] ()
2024-08-25 22:57:19,859 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,860 INFO sqlalchemy.engine.Engine [cached since 0.1997s ago] (9,)
2024-08-25 22:57:19,865 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-08-25 22:57:19,872 INFO sqlalchemy.engine.Engine [cached since 0.2776s ago] ('Walters Group',)
2024-08-25 22:57:19,874 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,875 INFO sqlalchemy.engine.Engine [cached since 0.2694s ago] ('morph cross-platform e-services', 4)
2024-08-25 22:57:19,876 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,878 INFO sqlalchemy.engine.Engine [cached since 0.2058s ago] [(9, 6), (9, 8), (9, 1), (9, 9), (9, 7), (9, 10), (9, 2), (9, 4)]
2024-08-25 22:57:19,880 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,881 INFO sqlalchemy.engine.Engine [cached since 0.2682s ago] ()
2024-08-25 22:57:19,883 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,885 INFO sqlalchemy.engine.Engine [cached since 0.2239s ago] (10,)
2024-08-25 22:57:19,889 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,895 INFO sqlalchemy.engine.Engine [cached since 0.2897s ago] ('benchmark cross-platform portals', 4)
2024-08-25 22:57:19,897 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,898 INFO sqlalchemy.engine.Engine [cached since 0.226s ago] [(10, 7), (10, 10), (10, 9), (10, 3), (10, 1), (10, 6)]
2024-08-25 22:57:19,900 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,901 INFO sqlalchemy.engine.Engine [cached since 0.2883s ago] ()
2024-08-25 22:57:19,903 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,905 INFO sqlalchemy.engine.Engine [cached since 0.2439s ago] (11,)
2024-08-25 22:57:19,909 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,910 INFO sqlalchemy.engine.Engine [cached since 0.3046s ago] ('drive innovative systems', 4)
2024-08-25 22:57:19,912 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,913 INFO sqlalchemy.engine.Engine [cached since 0.2409s ago] [(11, 4), (11, 8), (11, 9), (11, 3), (11, 7), (11, 6), (11, 2)]
2024-08-25 22:57:19,915 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,916 INFO sqlalchemy.engine.Engine [cached since 0.3033s ago] ()
2024-08-25 22:57:19,918 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,920 INFO sqlalchemy.engine.Engine [cached since 0.259s ago] (12,)
2024-08-25 22:57:19,931 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-08-25 22:57:19,933 INFO sqlalchemy.engine.Engine [cached since 0.3384s ago] ('Johnson Inc',)
2024-08-25 22:57:19,935 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,937 INFO sqlalchemy.engine.Engine [cached since 0.3316s ago] ('grow efficient supply-chains', 5)
2024-08-25 22:57:19,939 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,945 INFO sqlalchemy.engine.Engine [cached since 0.2729s ago] [(12, 9), (12, 8), (12, 4), (12, 1), (12, 5), (12, 7), (12, 3), (12, 6)]
2024-08-25 22:57:19,948 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,951 INFO sqlalchemy.engine.Engine [cached since 0.3378s ago] ()
2024-08-25 22:57:19,954 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,956 INFO sqlalchemy.engine.Engine [cached since 0.2949s ago] (13,)
2024-08-25 22:57:19,960 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,961 INFO sqlalchemy.engine.Engine [cached since 0.3554s ago] ('morph visionary web-readiness', 5)
2024-08-25 22:57:19,963 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,964 INFO sqlalchemy.engine.Engine [cached since 0.2003s ago] (13, 8)
2024-08-25 22:57:19,968 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,970 INFO sqlalchemy.engine.Engine [cached since 0.3571s ago] ()
2024-08-25 22:57:19,973 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,974 INFO sqlalchemy.engine.Engine [cached since 0.3134s ago] (14,)
2024-08-25 22:57:19,978 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-08-25 22:57:19,979 INFO sqlalchemy.engine.Engine [cached since 0.3737s ago] ('facilitate world-class functionalities', 5)
2024-08-25 22:57:19,981 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,982 INFO sqlalchemy.engine.Engine [cached since 0.219s ago] (14, 6)
2024-08-25 22:57:19,986 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-08-25 22:57:19,989 INFO sqlalchemy.engine.Engine [cached since 0.376s ago] ()
2024-08-25 22:57:19,992 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:19,993 INFO sqlalchemy.engine.Engine [cached since 0.3327s ago] (15,)
2024-08-25 22:57:19,997 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-08-25 22:57:19,998 INFO sqlalchemy.engine.Engine [cached since 0.3265s ago] [(15, 1), (15, 5), (15, 8)]
2024-08-25 22:57:20,001 INFO sqlalchemy.engine.Engine COMMIT
2024-08-25 22:57:20,135 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 22:57:20,137 INFO sqlalchemy.engine.Engine SELECT a_table.id AS a_table_id, a_table.name AS a_table_name
FROM a_table
2024-08-25 22:57:20,139 INFO sqlalchemy.engine.Engine [generated in 0.00185s] ()
A: Jones Inc
2024-08-25 22:57:20,145 INFO sqlalchemy.engine.Engine SELECT b_table.id AS b_table_id, b_table.name AS b_table_name, b_table.a_id AS b_table_a_id
FROM b_table
WHERE ? = b_table.a_id
2024-08-25 22:57:20,146 INFO sqlalchemy.engine.Engine [generated in 0.00114s] (1,)
  B: cultivate impactful e-services
2024-08-25 22:57:20,150 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:20,152 INFO sqlalchemy.engine.Engine [cached since 0.4906s ago] (1,)
    C: User-centric incremental moderator
    C: Streamlined bi-directional budgetary management
  B: deliver interactive e-commerce
2024-08-25 22:57:20,154 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-08-25 22:57:20,156 INFO sqlalchemy.engine.Engine [cached since 0.4957s ago] (2,)
    C: Implemented responsive benchmark
    C: Re-contextualized actuating initiative
    C: User-centric incremental moderator
    C: Multi-layered discrete time-frame
    C: Fully-configurable cohesive projection
    C: Streamlined bi-directional budgetary management
    C: Public-key real-time circuit
    C: Implemented heuristic matrix
  B: revolutionize B2C metrics
2024-08-25 22:57:20,160 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association

In [19]:
session.delete(all_a[0])
session.commit()
session.close()

2024-08-25 23:00:08,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-25 23:00:08,895 INFO sqlalchemy.engine.Engine DELETE FROM b_table WHERE b_table.id = ?
2024-08-25 23:00:08,897 INFO sqlalchemy.engine.Engine [generated in 0.00226s] [(1,), (2,), (3,)]
2024-08-25 23:00:08,902 INFO sqlalchemy.engine.Engine DELETE FROM a_table WHERE a_table.id = ?
2024-08-25 23:00:08,903 INFO sqlalchemy.engine.Engine [generated in 0.00185s] (1,)
2024-08-25 23:00:08,906 INFO sqlalchemy.engine.Engine COMMIT

/tmp/ipykernel_542420/613189120.py:2: SAWarning: Object of type <C> not in session, delete operation along 'B.cs' won't proceed
  session.commit()