<h1>Required packages</h1>

In [2]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
load_dotenv()

from sqlalchemy.orm import Mapped, mapped_column, relationship, Session
from src.utils.reqRes import apiError, apiResponse
from src.utils.hashPW import hashPassword
from src.db_models.base import Base
from src.db_models.user import User
from src.db_models.feedback import *
from src.db_models.company import Company
from src.db_models.ipos import *
from src.db_models.news import News
from src.db_models.events import Event
from src.db_models.INDEX import IndicesTable
from src.db_models.relationships import *

engine = create_engine("sqlite:///demoDB.db", echo=True)

Lazy connection setup

In [3]:
def createTables():
    Base.metadata.create_all(engine)

createTables()

2024-09-12 17:45:25,109 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-12 17:45:25,112 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-09-12 17:45:25,115 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,118 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-09-12 17:45:25,121 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,123 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-09-12 17:45:25,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,130 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-09-12 17:45:25,131 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,133 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-09-12 17:45:25,135 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,138 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-09-12 17:45:25,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,141 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-09-12 17:45:25,143 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,145 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-09-12 17:45:25,145 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,148 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-09-12 17:45:25,151 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,155 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-09-12 17:45:25,157 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,160 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-09-12 17:45:25,163 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,164 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-09-12 17:45:25,166 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,168 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-09-12 17:45:25,169 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-12 17:45:25,171 INFO sqlalchemy.engine.Engine COMMIT

In [2]:
target_metadata = Base.metadata
Base.metadata.drop_all(engine)
def createTables():
    Base.metadata.create_all(engine)

createTables()

2024-09-10 19:07:37,804 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:07:37,807 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-09-10 19:07:37,811 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,814 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-09-10 19:07:37,816 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,819 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-09-10 19:07:37,821 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,823 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-09-10 19:07:37,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,828 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-09-10 19:07:37,829 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,832 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-09-10 19:07:37,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,836 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-09-10 19:07:37,837 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,840 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-09-10 19:07:37,841 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,843 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-09-10 19:07:37,844 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,845 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-09-10 19:07:37,846 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,849 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-09-10 19:07:37,852 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,854 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-09-10 19:07:37,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,857 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-09-10 19:07:37,858 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:37,862 INFO sqlalchemy.engine.Engine
DROP TABLE lot_size_table
2024-09-10 19:07:37,863 INFO sqlalchemy.engine.Engine [no key 0.00100s] ()
2024-09-10 19:07:38,067 INFO sqlalchemy.engine.Engine
DROP TABLE investor_distribution
2024-09-10 19:07:38,068 INFO sqlalchemy.engine.Engine [no key 0.00141s] ()
2024-09-10 19:07:38,200 INFO sqlalchemy.engine.Engine
DROP TABLE comment_company_association
2024-09-10 19:07:38,201 INFO sqlalchemy.engine.Engine [no key 0.00119s] ()
2024-09-10 19:07:38,300 INFO sqlalchemy.engine.Engine
DROP TABLE ipo_table
2024-09-10 19:07:38,304 INFO sqlalchemy.engine.Engine [no key 0.00314s] ()
2024-09-10 19:07:38,411 INFO sqlalchemy.engine.Engine
DROP TABLE events
2024-09-10 19:07:38,413 INFO sqlalchemy.engine.Engine [no key 0.00121s] ()
2024-09-10 19:07:38,556 INFO sqlalchemy.engine.Engine
DROP TABLE news_company_association
2024-09-10 19:07:38,557 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2024-09-10 19:07:38,689 INFO sqlalchemy.engine.Engine
DROP TABLE registrar_table
2024-09-10 19:07:38,691 INFO sqlalchemy.engine.Engine [no key 0.00134s] ()
2024-09-10 19:07:38,800 INFO sqlalchemy.engine.Engine
DROP TABLE user_comment
2024-09-10 19:07:38,802 INFO sqlalchemy.engine.Engine [no key 0.00160s] ()
2024-09-10 19:07:38,923 INFO sqlalchemy.engine.Engine
DROP TABLE web_feedback
2024-09-10 19:07:38,926 INFO sqlalchemy.engine.Engine [no key 0.00343s] ()
2024-09-10 19:07:39,039 INFO sqlalchemy.engine.Engine
DROP TABLE "Indices_table"
2024-09-10 19:07:39,041 INFO sqlalchemy.engine.Engine [no key 0.00201s] ()
2024-09-10 19:07:39,200 INFO sqlalchemy.engine.Engine
DROP TABLE news_table
2024-09-10 19:07:39,201 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2024-09-10 19:07:39,322 INFO sqlalchemy.engine.Engine
DROP TABLE company_table
2024-09-10 19:07:39,324 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2024-09-10 19:07:39,450 INFO sqlalchemy.engine.Engine
DROP TABLE users
2024-09-10 19:07:39,451 INFO sqlalchemy.engine.Engine [no key 0.00150s] ()
2024-09-10 19:07:39,556 INFO sqlalchemy.engine.Engine COMMIT
2024-09-10 19:07:39,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:07:39,560 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-09-10 19:07:39,561 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,565 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2024-09-10 19:07:39,567 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,569 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-09-10 19:07:39,571 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,574 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("web_feedback")
2024-09-10 19:07:39,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,580 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-09-10 19:07:39,582 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,586 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_comment")
2024-09-10 19:07:39,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,590 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-09-10 19:07:39,591 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,593 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("company_table")
2024-09-10 19:07:39,594 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,596 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-09-10 19:07:39,597 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,599 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ipo_table")
2024-09-10 19:07:39,600 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-09-10 19:07:39,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,605 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("investor_distribution")
2024-09-10 19:07:39,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,608 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-09-10 19:07:39,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,611 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("lot_size_table")
2024-09-10 19:07:39,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,614 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-09-10 19:07:39,615 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,617 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("registrar_table")
2024-09-10 19:07:39,618 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,620 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-09-10 19:07:39,621 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,622 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("comment_company_association")
2024-09-10 19:07:39,623 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,625 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-09-10 19:07:39,626 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,627 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("news_company_association")
2024-09-10 19:07:39,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,630 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-09-10 19:07:39,631 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,632 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("news_table")
2024-09-10 19:07:39,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,634 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-09-10 19:07:39,635 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,637 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("events")
2024-09-10 19:07:39,638 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,639 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-09-10 19:07:39,640 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,641 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Indices_table")
2024-09-10 19:07:39,642 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 19:07:39,644 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR(30) NOT NULL,
	password VARCHAR NOT NULL,
	fullname VARCHAR(80),
	email VARCHAR(80) NOT NULL,
	avatar VARCHAR,
	access_token VARCHAR,
	refresh_token VARCHAR,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (username),
	UNIQUE (email)
)


2024-09-10 19:07:39,646 INFO sqlalchemy.engine.Engine [no key 0.00138s] ()
2024-09-10 19:07:39,768 INFO sqlalchemy.engine.Engine
CREATE TABLE company_table (
	id INTEGER NOT NULL,
	symbol VARCHAR,
	company_name VARCHAR NOT NULL,
	mcap BIGINT,
	sector VARCHAR,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (company_name)
)


2024-09-10 19:07:39,769 INFO sqlalchemy.engine.Engine [no key 0.00152s] ()
2024-09-10 19:07:39,928 INFO sqlalchemy.engine.Engine
CREATE TABLE news_table (
	id INTEGER NOT NULL,
	headline VARCHAR(100) NOT NULL,
	content TEXT,
	topic VARCHAR,
	news_url VARCHAR NOT NULL,
	sentiment INTEGER NOT NULL,
	sentiment_statement VARCHAR,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id)
)


2024-09-10 19:07:39,929 INFO sqlalchemy.engine.Engine [no key 0.00186s] ()
2024-09-10 19:07:40,134 INFO sqlalchemy.engine.Engine
CREATE TABLE "Indices_table" (
	timestamp DATETIME NOT NULL,
	"niftyPrediction" FLOAT,
	"predictionAccuracy" FLOAT,
	nifty50 FLOAT NOT NULL,
	sensex FLOAT NOT NULL,
	bank_nifty FLOAT NOT NULL,
	nifty_auto FLOAT NOT NULL,
	nifty_it FLOAT NOT NULL,
	nifty_pharma FLOAT NOT NULL,
	dow_jones FLOAT NOT NULL,
	nasdaq FLOAT NOT NULL,
	s_and_p_500 FLOAT NOT NULL,
	ftse_100 FLOAT NOT NULL,
	dax FLOAT NOT NULL,
	nikkei_225 FLOAT NOT NULL,
	shanghai_composite FLOAT NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (timestamp)
)


2024-09-10 19:07:40,135 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2024-09-10 19:07:40,267 INFO sqlalchemy.engine.Engine
CREATE TABLE web_feedback (
	id INTEGER NOT NULL,
	content TEXT NOT NULL,
	sentiment INTEGER NOT NULL,
	user_id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2024-09-10 19:07:40,268 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2024-09-10 19:07:40,395 INFO sqlalchemy.engine.Engine
CREATE TABLE user_comment (
	id INTEGER NOT NULL,
	content TEXT NOT NULL,
	user_id INTEGER NOT NULL,
	regarding VARCHAR(5),
	sentiment INTEGER,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2024-09-10 19:07:40,397 INFO sqlalchemy.engine.Engine [no key 0.00155s] ()
2024-09-10 19:07:40,534 INFO sqlalchemy.engine.Engine
CREATE TABLE registrar_table (
	id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	webpage VARCHAR NOT NULL,
	email VARCHAR NOT NULL,
	phone VARCHAR NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES company_table (id)
)


2024-09-10 19:07:40,536 INFO sqlalchemy.engine.Engine [no key 0.00165s] ()
2024-09-10 19:07:40,667 INFO sqlalchemy.engine.Engine
CREATE TABLE news_company_association (
	news_id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	PRIMARY KEY (news_id, company_id),
	FOREIGN KEY(news_id) REFERENCES news_table (id) ON DELETE CASCADE,
	FOREIGN KEY(company_id) REFERENCES company_table (id) ON DELETE CASCADE
)


2024-09-10 19:07:40,668 INFO sqlalchemy.engine.Engine [no key 0.00130s] ()
2024-09-10 19:07:40,801 INFO sqlalchemy.engine.Engine
CREATE TABLE events (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	event_date DATETIME NOT NULL,
	company_id INTEGER NOT NULL,
	related_to VARCHAR(7) NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES company_table (id)
)


2024-09-10 19:07:40,803 INFO sqlalchemy.engine.Engine [no key 0.00171s] ()
2024-09-10 19:07:40,935 INFO sqlalchemy.engine.Engine
CREATE TABLE ipo_table (
	id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	registar_id INTEGER NOT NULL,
	offer_for_sale BIGINT,
	fresh_issue BIGINT,
	listing_platform VARCHAR NOT NULL,
	promoter_holding_preissue BIGINT,
	promoter_holding_postissue BIGINT,
	promoter_share_preissue BIGINT,
	about_company TEXT NOT NULL,
	about_ipo TEXT NOT NULL,
	overall_subscription FLOAT NOT NULL,
	rhp_url VARCHAR,
	drhp_url VARCHAR NOT NULL,
	anchor_investor_url VARCHAR NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES company_table (id),
	FOREIGN KEY(registar_id) REFERENCES registrar_table (id)
)


2024-09-10 19:07:40,937 INFO sqlalchemy.engine.Engine [no key 0.00189s] ()
2024-09-10 19:07:41,045 INFO sqlalchemy.engine.Engine
CREATE TABLE comment_company_association (
	comment_id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	PRIMARY KEY (comment_id, company_id),
	FOREIGN KEY(comment_id) REFERENCES user_comment (id) ON DELETE CASCADE,
	FOREIGN KEY(company_id) REFERENCES company_table (id) ON DELETE CASCADE
)


2024-09-10 19:07:41,049 INFO sqlalchemy.engine.Engine [no key 0.00336s] ()
2024-09-10 19:07:41,179 INFO sqlalchemy.engine.Engine
CREATE TABLE investor_distribution (
	id INTEGER NOT NULL,
	fii BIGINT NOT NULL,
	dii BIGINT NOT NULL,
	nii BIGINT NOT NULL,
	bnii BIGINT NOT NULL,
	snii BIGINT NOT NULL,
	retailer BIGINT NOT NULL,
	anchor BIGINT NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES ipo_table (id)
)


2024-09-10 19:07:41,180 INFO sqlalchemy.engine.Engine [no key 0.00144s] ()
2024-09-10 19:07:41,290 INFO sqlalchemy.engine.Engine
CREATE TABLE lot_size_table (
	id INTEGER NOT NULL,
	min_price_per_issue INTEGER NOT NULL,
	max_price_per_issue INTEGER NOT NULL,
	lot_size INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(id) REFERENCES ipo_table (id)
)


2024-09-10 19:07:41,292 INFO sqlalchemy.engine.Engine [no key 0.00156s] ()
2024-09-10 19:07:41,411 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
from faker import Faker
fake = Faker()#pass string to set languages of data generated.
Faker.seed(0)

<h1>User entry</h1>
<h3>Entry of 20 fake data</h3>

In [4]:
session = Session(engine)
for _ in range(20):
    user = User(
        username=fake.user_name(),
        password=hashPassword(fake.password()),
        fullname=fake.name(),
        email=fake.email(),
        avatar=fake.image_url(),
        access_token=fake.uuid4(),
        refresh_token=fake.uuid4(),
    )
    session.add(user)
session.commit()
session.close()

2024-09-10 19:08:02,834 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:08:02,839 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,840 INFO sqlalchemy.engine.Engine [generated in 0.00032s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('achang', '$2b$12$3rMBGyenT/X9t1FIDUBLyuN9z0sOjVl7/9HQL2WQODOV3PrQsZtkG', 'Nicholas Nolan', 'thomas15@example.com', 'https://placekitten.com/647/418', '85776e9a-dd84-439e-b154-5a137a1d5006', 'eb2083e6-ce16-4dba-8ff1-8e0242af9fc3')
2024-09-10 19:08:02,843 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,844 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('davismary', '$2b$12$dNOcB6Ky1pPCB1FL0H9Vy.0ihekTokACCm2FAAxSsnXc3M2dLk/4y', 'Juan Mann', 'lisa83@example.net', 'https://picsum.photos/589/911', '5129fb7c-6288-41a5-8c45-782198a6416d', '2f120554-4a53-48cc-bdfa-bc08935ddd72')
2024-09-10 19:08:02,845 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,845 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('lorijohnson', '$2b$12$CDc/vRmZY53P1fyCccbCkuiwNkOpT60eSTLXsyOGEwNB6FCzfOMHK', 'Jennifer Hill', 'skeller@example.com', 'https://placekitten.com/168/664', 'a1515607-964a-470c-bc87-9b741d878f9f', '3e37952d-30bc-4b0e-9857-010255d44936')
2024-09-10 19:08:02,847 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,848 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('dennisdave', '$2b$12$NGEx/RhEb4Vv88qo86aQW.llh8CGdoeapcRbaVOyw6pjkvGsA06Zi', 'Barbara Davis', 'johnsonandrew@example.org', 'https://picsum.photos/253/981', 'efdd35f8-0fa3-4266-8cfd-ba9bba26d851', '6cf55b15-8b53-431d-85d5-1433ade9b2b4')
2024-09-10 19:08:02,849 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,850 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('huffchad', '$2b$12$k6CXXhjHAJc6hwVcEgyereSd7cpSdBHGD8P5.CLMzNGarwiJ8NUR6', 'Autumn Morse', 'alexandermaldonado@example.net', 'https://dummyimage.com/637x731', '27460f22-403d-4f83-a859-890cd670f668', '753c7c99-032f-46ca-b0d9-c2aa8f837ef7')
2024-09-10 19:08:02,852 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,853 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('rogersbrandon', '$2b$12$D8YhivVvEQyI3ouJV.HVN.IIeI3Rh.TgIQhxcs6w95WkQAGxPXbgu', 'Caitlin Walker', 'rgray@example.net', 'https://dummyimage.com/848x64', '6b10e53a-9145-4e05-b3ab-1b2cdf26f517', '0bf9c0ef-b581-4b74-a985-ab61c5adf681')
2024-09-10 19:08:02,855 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,856 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('seangreen', '$2b$12$vDz9oBzNYEbqAbhBafnAhOk7vBR9n1l65u8vILessvNkrCBU8TmXi', 'Michael Stewart', 'alexisfischer@example.net', 'https://picsum.photos/200/390', 'dfa7c6ed-32d1-481b-a636-425c9bbd750d', 'fa7ff8bf-b044-484a-87ac-f2f64d6b234f')
2024-09-10 19:08:02,858 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,859 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('craignash', '$2b$12$3mipvDb2oELajn187YHvJu83sIoaOTtRfbCldBfKx0F3ikDcwz2gC', 'Jacob Bradley', 'mathissusan@example.net', 'https://placekitten.com/1012/939', '89b5b368-df14-4612-9f58-d5b56f790959', '964ddb77-6025-40ae-b535-45792da44da1')
2024-09-10 19:08:02,860 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,861 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('alan24', '$2b$12$KDUop5FEMgOh.98pNbbDGu.xCDJpj7FXr7jUfGeVjWoksermIykuO', 'Joseph Jones', 'thouston@example.com', 'https://placekitten.com/222/203', '564ae909-7958-4e69-bb2e-1b82e89dc815', 'cff4c56b-f9ea-4c64-8c41-7e7cd741d609')
2024-09-10 19:08:02,862 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,865 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('david17', '$2b$12$VxZeu3OihvofngIweagWpOmkW8HWqMJTmlCHmZw9UE8WAAB39AtRq', 'Joan Burns', 'rodneyrichardson@example.com', 'https://picsum.photos/341/883', 'd26d5396-1058-4e8c-9d71-73e55bc7fdeb', '07120911-b3b6-4b57-9a54-f267dd138266')
2024-09-10 19:08:02,866 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,866 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('mgoodwin', '$2b$12$OO1T0zP1SgXWDpHQZnn2yO4HIDAGMVpTUSrHWIcrDMR3bCbE3vi1e', 'Jenny Boyd', 'martha73@example.net', 'https://dummyimage.com/448x19', 'e6256403-bf3d-40bb-b66a-c168b4a1ca79', '091472ad-5263-4db9-9170-34ce51797350')
2024-09-10 19:08:02,868 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,869 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('nancymorrison', '$2b$12$S78XSFp6V.SdPgupGRk56.6AWdRAMTVteTashQ0myKscsj.AVZmZS', 'Joseph Johnson', 'gregorylinda@example.net', 'https://picsum.photos/156/873', '993ec8c6-e6b1-46e2-8911-0af04a276dda', '7b72590b-f8f8-4071-9360-da696af79ad2')
2024-09-10 19:08:02,871 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,872 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('olawson', '$2b$12$kZXE77V73ZogdFAmNOBj8eDCGY292.05SUQRJY8ZkCaZxvGTmROhi', 'Andrew Butler', 'mwu@example.net', 'https://dummyimage.com/167x310', '775e0ec3-9c9d-43f3-8901-8aee69407be7', '19faa06e-0c0a-4967-b579-501a62fda854')
2024-09-10 19:08:02,873 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,874 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('bosborne', '$2b$12$2saBCpDGahbAW4DLIwVORuBrenv0plQnny7PjbYqyjz8u2jh/Rp8i', 'Bethany Buck', 'sabrina18@example.org', 'https://dummyimage.com/78x802', '7499b28c-30c3-4323-81b1-99c45f1ff97c', '1349747a-a1cb-4182-8a20-854d5b471c43')
2024-09-10 19:08:02,876 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,876 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('wintersbill', '$2b$12$YUS5InK/PXY4SO.Xt7KcbuG/YMUWQBdN5etLrEXdaJ5qOZs5.rpne', 'Jennifer Garcia', 'jessicajohnson@example.com', 'https://picsum.photos/882/854', 'f655860b-dd32-4231-ab56-16997f22cd12', '141b1a1b-40a9-48bf-b8f8-903b53125ffd')
2024-09-10 19:08:02,877 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,878 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('chad50', '$2b$12$Gm9Lf5oVVbVqyMv86VAWb.N5fmOD4oxWEEOmrS1Xh8oXUaeCPEIZW', 'Charles Gibson', 'qcooper@example.org', 'https://dummyimage.com/57x426', '4ae9ee11-f5fe-4213-b92e-cd7555c36c3d', 'f5492e22-e0df-4f74-afe7-8b604bdd5f99')
2024-09-10 19:08:02,882 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,884 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('jack11', '$2b$12$GSHxw6PaSOEVNZBPEuPIKO.gLtg9k2H/FMP9hIEvT6Sb2AmjiU13C', 'Bonnie Evans', 'jyang@example.net', 'https://placekitten.com/864/610', '71df24d9-3f80-431f-95a5-712c5ac4b6c7', 'f2ed33e1-a315-4940-9e87-905aa1fdcdf1')
2024-09-10 19:08:02,885 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,887 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('bennettalan', '$2b$12$wkxgOs0Q3QsgQzkIoXgTbequ1hVURTZSAAZIguZOOfoewd1F1ZBNC', 'Joseph Kelly', 'webbjames@example.org', 'https://picsum.photos/919/946', 'c4c536fb-1d4d-4180-8c6e-6fbb37fef6b5', '8b92c247-4d18-4103-a100-ed14fa92cd28')
2024-09-10 19:08:02,888 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,889 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('rogerpotter', '$2b$12$rXcb39CmkWyFj95aDfMkW.csQk5AKH1aSgMfy3yYoFqHD.GtuiJ3W', 'Paul Stout', 'johnsonlaura@example.com', 'https://placekitten.com/696/242', 'eb83af16-e404-4808-bfc1-8c00dc0520a4', '6a325333-116e-4a64-a9de-b984c31277fd')
2024-09-10 19:08:02,890 INFO sqlalchemy.engine.Engine INSERT INTO users (username, password, fullname, email, avatar, access_token, refresh_token, created_at, updated_at) VALUES (?, ?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:08:02,891 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('justin29', '$2b$12$OZ8dZVvUYmlGkruV5ltu7edggXBxgkOyHlsIHhDl4W/.5ziJ9hUWe', 'Elizabeth Chen', 'frobinson@example.net', 'https://placekitten.com/651/1009', '4cd8ef24-71a8-49c6-8f6a-b75bf55b2e5c', '0d6a78b0-7eda-4ab9-bec6-0ffe248f4a25')
2024-09-10 19:08:02,893 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating feedback and comment table</h1>

In [5]:
import numpy as np
session = Session(engine)
for _ in range(20):
    feedback = Feedback(
        content = fake.text(),
        user_id = np.random.randint(1,20),
        sentiment = 'GOOD' if np.random.randint(0,10)%2==0  else 'BAD'
        
    )
    session.add(feedback)
session.commit()
session.close()

2024-09-10 19:09:46,140 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:09:46,145 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,147 INFO sqlalchemy.engine.Engine [generated in 0.00047s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('Agent likely thousand act money. Rather bank we under. According American per yourself their record. Cell of course its respond.', 'GOOD', 12)
2024-09-10 19:09:46,149 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,151 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('Almost plan that hair sea quality.\nFather beautiful than seem sign third in approach. Program possible natural same issue lawyer effort.', 'GOOD', 3)
2024-09-10 19:09:46,152 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,154 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('Eight miss couple bag thank generation. Economy rock feeling might his. Gas Republican and various authority leave right.\nWithout leave brother bank better she.', 'BAD', 2)
2024-09-10 19:09:46,156 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,157 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('Represent since method left plant. Discussion budget situation between run. Design they young according movement.', 'GOOD', 6)
2024-09-10 19:09:46,159 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,160 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('Happen play speech theory choice computer. Career deal trip market. Dog car do his part.\nMaterial truth pattern ago other majority final when. Present produce manager well lose finish summer.', 'GOOD', 17)
2024-09-10 19:09:46,162 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,163 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('General class admit of around. Character against physical agency and difficult president at.\nWill institution throughout describe itself group. Power road size impact.', 'BAD', 13)
2024-09-10 19:09:46,166 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,167 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('Important hope about catch. Style record bag down stock computer watch. Sea stuff no response.', 'GOOD', 3)
2024-09-10 19:09:46,169 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,170 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('Significant now energy. Lay return identify. Anything event yet effect quite reflect upon.\nMight history strong economy break word source. Only result race government trouble.', 'GOOD', 19)
2024-09-10 19:09:46,172 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,173 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('Notice kind game act.\nSection could nature interest wear. Morning as police often. Place myself his itself find add sing.\nMrs never wrong couple site. Suddenly seek choice produce.', 'GOOD', 1)
2024-09-10 19:09:46,175 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,176 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('Of door research tell. When clearly type up. Wait education think similar particular before.\nAction economy several hit simple personal home.\nLet stop camera report foreign agency list miss.', 'BAD', 15)
2024-09-10 19:09:46,177 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,179 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('Likely fire subject west agent hotel by. Image central challenge term memory.\nThroughout treat relate respond. Role mind statement.', 'BAD', 2)
2024-09-10 19:09:46,180 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,181 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('Particularly speech mission remember tree care sign. Myself star gas spend.\nInto good later street. Gun subject PM carry understand consumer by.', 'BAD', 19)
2024-09-10 19:09:46,183 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,184 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('We ask benefit ago again. Pattern president add lead network the.\nBall appear television so teach energy possible. Student bag grow better. Child might source.\nHeavy church nature.', 'BAD', 11)
2024-09-10 19:09:46,186 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,187 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('Difficult there leg theory case north. Class on reach.\nAffect station member although. Of challenge check skin.\nJob trial four easy case member.', 'GOOD', 15)
2024-09-10 19:09:46,189 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,190 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('American focus something who blood. Certain hotel should.\nUnder require page claim future in. Truth ten seven both happy central group line. Send cultural whatever computer on fast play.', 'BAD', 2)
2024-09-10 19:09:46,191 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,192 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('Nation network college debate direction moment. Ground think save respond friend budget while.', 'GOOD', 9)
2024-09-10 19:09:46,193 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,197 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('Blood single recently other owner message entire. Collection be along break gun reveal five put. Once effect main simply two no. Sister meet though ago.', 'GOOD', 17)
2024-09-10 19:09:46,199 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,201 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('If do them although per environmental medical nearly. Line Congress must city system story.\nAttention attention hotel well news enter director. Father growth behind probably.', 'BAD', 12)
2024-09-10 19:09:46,202 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,203 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('Stuff find different many water meeting future. Fight institution school white.\nExplain current simply process sit. His can sing husband matter.', 'GOOD', 13)
2024-09-10 19:09:46,205 INFO sqlalchemy.engine.Engine INSERT INTO web_feedback (content, sentiment, user_id, created_at) VALUES (?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:09:46,206 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('Body himself home message woman. Stock determine human find discussion military ability. First through dinner whose worker offer American.', 'BAD', 7)
2024-09-10 19:09:46,208 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
session = Session(engine)
lst = ['stock','ipo','index', 'nifty']
for _ in range(20):
    comment = Comment(
        content = fake.text(),
        user_id = np.random.randint(1,40),
        sentiment = 'GOOD' if np.random.randint(0,10)%2==0  else 'BAD',
        regarding = lst[np.random.randint(0,4)],
    )
    session.add(comment)
session.commit()
session.close()

2024-09-10 19:10:19,089 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:10:19,094 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,099 INFO sqlalchemy.engine.Engine [generated in 0.00034s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('Bank letter summer minute perform. At computer doctor up high southern. Decision wish among west agreement girl. Still quality political other begin war.', 27, 'nifty', 'BAD')
2024-09-10 19:10:19,103 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,105 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('Condition natural can effort bad measure star. Law go simple improve language. Need when simple.\nDrop local cell kid growth main. Why mission because feel.', 38, 'nifty', 'GOOD')
2024-09-10 19:10:19,107 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,109 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('Its plant pay together number degree kid drug. Such new cultural analysis care kitchen purpose difference. Technology serious international position. Those full rate clear newspaper.', 36, 'index', 'GOOD')
2024-09-10 19:10:19,111 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,113 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('Decision above you carry poor majority herself. At painting room sell daughter pay growth. Seat should dream whose.\nTell mention check election order everything stuff detail.', 2, 'index', 'BAD')
2024-09-10 19:10:19,115 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,116 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('Evening his gas health sort couple station my.\nNeed claim many against television former general. Party individual so attack. Bit avoid yourself campaign alone subject development.', 13, 'nifty', 'GOOD')
2024-09-10 19:10:19,119 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,120 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('Stock worker everybody professor show bar standard. The site follow be add.\nRepublican without mention get. Become me story but order leg food.', 12, 'nifty', 'GOOD')
2024-09-10 19:10:19,121 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,123 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('Situation eat thousand. Cause others skill industry old effect fine.\nThreat remain interest college anything relationship local. Draw final station. Whether address senior moment.', 16, 'index', 'GOOD')
2024-09-10 19:10:19,124 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,125 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('Discussion star individual third.\nServe can street race seat. Would federal test some score reveal so.\nInclude herself hold his. Manage camera beat activity stay bank which.', 18, 'index', 'BAD')
2024-09-10 19:10:19,127 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,129 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('Speak really eat report to product outside.\nAdd challenge project happen white. Politics effect against southern very talk part. List key little fast speak tree.', 5, 'stock', 'GOOD')
2024-09-10 19:10:19,130 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,134 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('Smile create either. Adult others talk without. Stay describe time.\nTrade product participant environment. Again trouble cold. While door statement scene teach. Old site record should.', 15, 'index', 'BAD')
2024-09-10 19:10:19,135 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,137 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('Measure only wait technology town approach today all. Maybe information forward trouble. Country article will firm woman section magazine loss. Especially position learn senior today mention.', 12, 'ipo', 'GOOD')
2024-09-10 19:10:19,138 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,140 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('Stay soon account part wind well thousand. His within though finish star be. Popular see different decide trip total.\nSite car room father identify within street national.', 8, 'stock', 'GOOD')
2024-09-10 19:10:19,141 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,143 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('According star study form seem beat. Effect forward magazine movie base.', 23, 'stock', 'GOOD')
2024-09-10 19:10:19,144 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,145 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('Season toward level generation since also. Sit hand society according off little. Itself people nation million born American. Always hand game magazine series think.', 35, 'ipo', 'BAD')
2024-09-10 19:10:19,146 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,146 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('Your outside wish community kid official within.\nCentury involve down herself drive effort drop onto. Walk draw front plan focus century. Nearly movie report boy two.', 9, 'ipo', 'GOOD')
2024-09-10 19:10:19,148 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,152 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('Read information fire purpose very. Approach trip throughout free civil entire. Just nature increase trouble heart watch bed.', 28, 'stock', 'BAD')
2024-09-10 19:10:19,153 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,154 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('Walk two most ten cup far training. Week carry then election small certainly pattern daughter.\nWind consider that admit Mrs look. Sense scientist bank result.', 13, 'index', 'GOOD')
2024-09-10 19:10:19,156 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,158 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('Box operation prepare might catch that. Century energy safe crime social school enter.', 29, 'index', 'GOOD')
2024-09-10 19:10:19,159 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,162 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('Cut drive out. Attorney stock defense cup man course.\nCandidate crime officer police it house political. Pull likely piece small go.\nWindow key military. Stay century law before everybody.', 11, 'nifty', 'BAD')
2024-09-10 19:10:19,164 INFO sqlalchemy.engine.Engine INSERT INTO user_comment (content, user_id, regarding, sentiment, created_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:19,165 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('Tv drive adult executive military plan. Break focus raise away.\nYes miss interest rise her. Central baby picture.\nCould own glass one then investment scientist. Walk cause trouble movie.', 28, 'nifty', 'BAD')
2024-09-10 19:10:19,168 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating news</h1>

In [7]:
for _ in range(20):  # Adjust the range for the number of entries you want to create
    fake_news = News(
        headline=fake.sentence(nb_words=10),  # Generates a fake headline
        content=fake.paragraph(nb_sentences=5),  # Generates fake content
        topic=fake.word(),  # Generates a random word as the topic
        news_url=fake.url(),  # Generates a fake URL
        sentiment=fake.random_int(min=-1, max=1),  # Random sentiment (-1, 0, 1)
        sentiment_statement=fake.sentence(nb_words=8),  # Generates a fake sentiment statement
    )
    session.add(fake_news)
session.commit()

# Close the session
session.close()

2024-09-10 19:10:27,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:10:27,343 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,344 INFO sqlalchemy.engine.Engine [generated in 0.00055s (insertmanyvalues) 1/20 (ordered; batch not supported)] ('Beat start say either none heavy down business state way sister civil market.', 'Actually century over short certain. Summer specific option concern. Evidence especially life sister. Information among avoid still later get effect imagine. Worker present defense. Or century their defense. Wind action economy official natural can.', 'glass', 'https://www.davis-banks.com/', -1, 'Tough fill happy last hit poor appear.')
2024-09-10 19:10:27,347 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,348 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/20 (ordered; batch not supported)] ('Member sign life successful season crime study environment style.', 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.', 'sort', 'https://mcdaniel.biz/', 0, 'Half black because song capital administration sound teach.')
2024-09-10 19:10:27,350 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,351 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/20 (ordered; batch not supported)] ('Pressure down PM benefit arm subject over feeling money newspaper.', 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.', 'themselves', 'http://decker.com/', -1, 'Bar shoulder decade rich director population measure.')
2024-09-10 19:10:27,353 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,355 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/20 (ordered; batch not supported)] ('Cost policy across inside water do get finish pick shake.', 'General simple cost develop left. Head perform walk. Put again big role stand. Cup home record forward. Allow including level well.', 'let', 'https://www.bradley.info/', -1, 'Rest really wait if everything.')
2024-09-10 19:10:27,357 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,359 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/20 (ordered; batch not supported)] ('Into name response garden trip culture far.', 'Region reduce ask although get poor herself. Executive will network physical play. Child push it why research wind yard. Return few natural fight stand one significant get. Keep kid assume dinner former heavy.', 'probably', 'https://www.underwood.com/', -1, 'Wall allow power condition pressure would.')
2024-09-10 19:10:27,362 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,364 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/20 (ordered; batch not supported)] ('Push conference however find most city citizen to produce list run.', 'Hospital one environment set attack. Detail value plant nature day. Interest amount understand hard. Final ability person choose order.', 'condition', 'https://www.taylor.com/', -1, 'Parent produce cut beyond maintain.')
2024-09-10 19:10:27,367 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,368 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/20 (ordered; batch not supported)] ('Boy response knowledge may thousand music catch.', 'Memory ball media along these easy. To more food recognize national training. Not before painting sure whom. Wall measure again ability election. Present carry break majority low.', 'car', 'https://brennan.com/', 1, 'Customer plan maybe manager place fly play pay.')
2024-09-10 19:10:27,369 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,369 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/20 (ordered; batch not supported)] ('Good human billion ever up hold ground point discuss.', 'Mr sing city energy season environment. Yet possible account question. Pretty wish standard single conference.', 'hope', 'http://www.gonzalez-bradley.org/', -1, 'Expect really amount accept sometimes city commercial identify.')
2024-09-10 19:10:27,373 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,374 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/20 (ordered; batch not supported)] ('Nature cup whom poor send through law national last people friend state half.', 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.', 'since', 'http://haynes.org/', -1, 'Treat see better child computer either total.')

2024-09-10 19:10:27,378 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,379 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/20 (ordered; batch not supported)] ('Fly rock make build painting either return heart message matter position.', 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.', 'growth', 'http://www.nielsen-baker.net/', 1, 'Benefit thus mean certainly value create agree likely off anything.')
2024-09-10 19:10:27,380 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,382 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/20 (ordered; batch not supported)] ('Letter career election few turn think tree amount billion beyond quality fill final oil.', 'Price little identify. Before talk want it manage. Certainly special seven physical court author. Let guy son last.', 'else', 'http://bush.info/', -1, 'Mr painting role company produce.')
2024-09-10 19:10:27,384 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,385 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/20 (ordered; batch not supported)] ('Evening green require bring her serve finally task.', 'Probably few cost summer city. Bag model employee relate anything. Hospital machine cell cell.', 'will', 'http://www.wilson.com/', -1, 'Oil describe section few stay top most reflect shake phone.')
2024-09-10 19:10:27,386 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,387 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/20 (ordered; batch not supported)] ('End time trouble stay beat PM stage short put lay too.', 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.', 'public', 'https://smith-cohen.com/', 0, 'Matter remember body keep body lay.')
2024-09-10 19:10:27,389 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,390 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/20 (ordered; batch not supported)] ('No none say heart information part full your yeah certain return suddenly.', 'Ability no affect catch. Area traditional property she. Serve rule thus. Western worry week people worker time. Hot always say notice though. Increase simple as.', 'provide', 'http://ware-waters.info/', 0, 'Including form entire thank kitchen move husband friend idea thus.')
2024-09-10 19:10:27,392 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,393 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/20 (ordered; batch not supported)] ('Up add subject research sell idea school still up.', 'Local week color wait. Back use me media onto. Product building view its.', 'create', 'http://www.johnson.com/', 1, 'Chair decide grow between heavy by.')
2024-09-10 19:10:27,394 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,396 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/20 (ordered; batch not supported)] ('Through data difference others know expert cell style believe tough wait candidate under.', 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.', 'low', 'http://www.navarro.com/', 1, 'Suddenly really social standard even exist identify agency toward.')
2024-09-10 19:10:27,397 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,398 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/20 (ordered; batch not supported)] ('Car stand form parent majority know participant.', 'Space federal condition officer speech back. Tell thank type politics catch information where. Reality no work collection.', 'beautiful', 'http://www.harris.com/', -1, 'Form great education training see we find knowledge.')
2024-09-10 19:10:27,399 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,400 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/20 (ordered; batch not supported)] ('Then say listen miss other how require take.', 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.', 'condition', 'http://www.parsons-lewis.com/', 0, 'Admit any could manage probably.')
2024-09-10 19:10:27,401 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,402 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/20 (ordered; batch not supported)] ('Fact scientist nothing change suffer space a would free finally national difficult.', 'Off government forget. Step generation beyond nor goal. Study others stand. It start now.', 'finally', 'http://www.berry.com/', 1, 'Something camera himself compare detail.')
2024-09-10 19:10:27,403 INFO sqlalchemy.engine.Engine INSERT INTO news_table (headline, content, topic, news_url, sentiment, sentiment_statement, created_at) VALUES (?, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP) RETURNING id, created_at
2024-09-10 19:10:27,404 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/20 (ordered; batch not supported)] ('Blue tend house staff commercial herself prove picture million type speech other question.', 'Message picture study customer leader contain culture. Customer family food. Some Congress result every war. Series window tax marriage. Size improve hit nice kind performance.', 'teach', 'https://www.jensen.info/', -1, 'Rock music check close agreement box people point month smile.')
2024-09-10 19:10:27,407 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating company Table</h1>

In [8]:
for _ in range(10):  # Adjust the range for the number of entries you want to create
    fake_company = Company(
        symbol=fake.bothify(text='???#'),  # Generates a fake stock symbol (e.g., "ABC1")
        company_name=fake.company(),  # Generates a fake company name
        mcap=fake.random_int(min=100000000, max=10000000000),  # Generates a random market cap
        sector=fake.word(ext_word_list=['Technology', 'Finance', 'Healthcare', 'Energy', 'Consumer Goods']),  # Selects a random sector
    )
    session.add(fake_company)

# Commit the session to save the data
session.commit()

# Close the session
session.close()

2024-09-10 19:10:31,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:10:31,074 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,076 INFO sqlalchemy.engine.Engine [generated in 0.00032s (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Aqa8', 'Taylor-Robertson', 7467160414, 'Consumer Goods')
2024-09-10 19:10:31,080 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,081 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/10 (ordered; batch not supported)] ('XAX4', 'Walton PLC', 1243566311, 'Healthcare')
2024-09-10 19:10:31,083 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,084 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/10 (ordered; batch not supported)] ('SrF1', 'Guerra-Brown', 9827511425, 'Technology')
2024-09-10 19:10:31,087 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,089 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/10 (ordered; batch not supported)] ('smv5', 'Allen and Sons', 9497455021, 'Energy')
2024-09-10 19:10:31,090 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,092 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/10 (ordered; batch not supported)] ('IqQ1', 'Cordova LLC', 8276210428, 'Technology')
2024-09-10 19:10:31,094 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,096 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/10 (ordered; batch not supported)] ('QcI8', 'Cohen-King', 3145992988, 'Consumer Goods')
2024-09-10 19:10:31,100 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,102 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/10 (ordered; batch not supported)] ('Vfg4', 'Cantrell, Craig and Gomez', 4918564110, 'Healthcare')
2024-09-10 19:10:31,105 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,107 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/10 (ordered; batch not supported)] ('Fsp2', 'Carpenter, Allen and Woods', 5222770380, 'Energy')
2024-09-10 19:10:31,108 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,110 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/10 (ordered; batch not supported)] ('ugY4', 'Ford Ltd', 656940324, 'Energy')
2024-09-10 19:10:31,111 INFO sqlalchemy.engine.Engine INSERT INTO company_table (symbol, company_name, mcap, sector, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2024-09-10 19:10:31,112 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/10 (ordered; batch not supported)] ('XEu6', 'Collins, Thomas and Williams', 4679874177, 'Consumer Goods')
2024-09-10 19:10:31,115 INFO sqlalchemy.engine.Engine COMMIT

<h1>Populating Association tables</h1>

In [9]:
comments = session.query(Comment).all()
news_entries = session.query(News).all()
companies = session.query(Company).all()

2024-09-10 19:10:34,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:10:35,010 INFO sqlalchemy.engine.Engine SELECT user_comment.id AS user_comment_id, user_comment.content AS user_comment_content, user_comment.user_id AS user_comment_user_id, user_comment.regarding AS user_comment_regarding, user_comment.sentiment AS user_comment_sentiment, user_comment.created_at AS user_comment_created_at
FROM user_comment
2024-09-10 19:10:35,011 INFO sqlalchemy.engine.Engine [generated in 0.00132s] ()
2024-09-10 19:10:35,016 INFO sqlalchemy.engine.Engine SELECT news_table.id AS news_table_id, news_table.headline AS news_table_headline, news_table.content AS news_table_content, news_table.topic AS news_table_topic, news_table.news_url AS news_table_news_url, news_table.sentiment AS news_table_sentiment, news_table.sentiment_statement AS news_table_sentiment_statement, news_table.created_at AS news_table_created_at
FROM news_table
2024-09-10 19:10:35,018 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ()
2024-09-10 19:10:35,022 INFO sqlalchemy.engine.Engine SELECT company_table.id AS company_table_id, company_table.symbol AS company_table_symbol, company_table.company_name AS company_table_company_name, company_table.mcap AS company_table_mcap, company_table.sector AS company_table_sector, company_table.created_at AS company_table_created_at, company_table.updated_at AS company_table_updated_at
FROM company_table
2024-09-10 19:10:35,023 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ()

In [10]:
import random

session = Session(engine)


# Populate CommentCompanyAssociation
for comment in comments:
    # Randomly associate a few companies with each comment
    associated_companies = random.sample(companies, k=random.randint(1, 5))  # Adjust range as needed
    for company in associated_companies:
        association = CommentCompanyAssociation(
            comment_id=comment.id,
            company_id=company.id
        )
        session.add(association)



# Populate NewsCompanyAssociation
for news in news_entries:
    # Randomly associate a few companies with each news entry
    associated_companies = random.sample(companies, k=random.randint(1, 3))  # Adjust range as needed
    for company in associated_companies:
        association = NewsCompanyAssociation(
            news_id=news.id,
            company_id=company.id
        )
        session.add(association)


session.commit()

# Close the session
session.close()

2024-09-10 19:11:00,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:11:00,105 INFO sqlalchemy.engine.Engine INSERT INTO comment_company_association (comment_id, company_id) VALUES (?, ?)
2024-09-10 19:11:00,113 INFO sqlalchemy.engine.Engine [generated in 0.00861s] [(1, 3), (1, 5), (1, 4), (2, 8), (2, 5), (2, 1), (3, 2), (3, 8)  ... displaying 10 of 65 total bound parameter sets ...  (20, 9), (20, 1)]
2024-09-10 19:11:00,121 INFO sqlalchemy.engine.Engine INSERT INTO news_company_association (news_id, company_id) VALUES (?, ?)
2024-09-10 19:11:00,131 INFO sqlalchemy.engine.Engine [generated in 0.01073s] [(1, 1), (1, 4), (2, 3), (2, 9), (2, 8), (3, 2), (3, 7), (3, 3)  ... displaying 10 of 40 total bound parameter sets ...  (20, 8), (20, 9)]
2024-09-10 19:11:00,137 INFO sqlalchemy.engine.Engine COMMIT

<h1>Queries</h1>

In [11]:
users = session.query(User).all()

2024-09-10 19:11:20,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:11:20,031 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.fullname AS users_fullname, users.email AS users_email, users.avatar AS users_avatar, users.access_token AS users_access_token, users.refresh_token AS users_refresh_token, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
2024-09-10 19:11:20,033 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ()

In [12]:
users[11].feedbacks

2024-09-10 19:11:23,973 INFO sqlalchemy.engine.Engine SELECT web_feedback.id AS web_feedback_id, web_feedback.content AS web_feedback_content, web_feedback.sentiment AS web_feedback_sentiment, web_feedback.user_id AS web_feedback_user_id, web_feedback.created_at AS web_feedback_created_at
FROM web_feedback
WHERE ? = web_feedback.user_id
2024-09-10 19:11:23,975 INFO sqlalchemy.engine.Engine [generated in 0.00264s] (12,)

[Feedback 1 given by 12, Feedback 18 given by 12]

In [13]:
users[11].comments

2024-09-10 19:11:43,796 INFO sqlalchemy.engine.Engine SELECT user_comment.id AS user_comment_id, user_comment.content AS user_comment_content, user_comment.user_id AS user_comment_user_id, user_comment.regarding AS user_comment_regarding, user_comment.sentiment AS user_comment_sentiment, user_comment.created_at AS user_comment_created_at
FROM user_comment
WHERE ? = user_comment.user_id
2024-09-10 19:11:43,799 INFO sqlalchemy.engine.Engine [generated in 0.00230s] (12,)

[Comment 6 posted by 12 with sentiment 'GOOD',
 Comment 11 posted by 12 with sentiment 'GOOD']

In [14]:
session.delete(users[11])
session.commit()
session.close()

2024-09-10 19:12:56,437 INFO sqlalchemy.engine.Engine DELETE FROM user_comment WHERE user_comment.id = ?
2024-09-10 19:12:56,439 INFO sqlalchemy.engine.Engine [generated in 0.00221s] [(6,), (11,)]
2024-09-10 19:12:56,442 INFO sqlalchemy.engine.Engine DELETE FROM web_feedback WHERE web_feedback.id = ?
2024-09-10 19:12:56,442 INFO sqlalchemy.engine.Engine [generated in 0.00098s] [(1,), (18,)]
2024-09-10 19:12:56,445 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?
2024-09-10 19:12:56,446 INFO sqlalchemy.engine.Engine [generated in 0.00156s] (12,)
2024-09-10 19:12:56,448 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
users = session.query(User).all()
users[2]

2024-09-10 19:14:06,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:14:06,389 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.fullname AS users_fullname, users.email AS users_email, users.avatar AS users_avatar, users.access_token AS users_access_token, users.refresh_token AS users_refresh_token, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
2024-09-10 19:14:06,390 INFO sqlalchemy.engine.Engine [cached since 166.4s ago] ()

User(id=3, name='lorijohnson', fullname='Jennifer Hill')

In [16]:
from sqlalchemy import Column, Integer, String, ForeignKey, Table, create_engine
from sqlalchemy.orm import relationship, sessionmaker, mapped_column
from sqlalchemy.ext.declarative import declarative_base

# Association table between B and C
b_c_association = Table(
    'b_c_association',
    Base.metadata,
    Column('b_id', Integer, ForeignKey('b_table.id', ondelete='CASCADE'), primary_key=True),
    Column('c_id', Integer, ForeignKey('c_table.id', ondelete='CASCADE'), primary_key=True)
)

class A(Base):
    __tablename__ = 'a_table'
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String, nullable=False)

    # Relationship to B with cascading deletes
    bs = relationship('B', back_populates='a', cascade='all, delete-orphan')

class B(Base):
    __tablename__ = 'b_table'
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String, nullable=False)
    a_id: Mapped[int] = mapped_column(ForeignKey('a_table.id', ondelete='CASCADE'))

    # Relationship to A and C with cascading deletes
    a = relationship('A', back_populates='bs')
    cs = relationship('C', secondary=b_c_association, back_populates='bs')

class C(Base):
    __tablename__ = 'c_table'
    id: Mapped[int] = mapped_column(Integer, primary_key=True, autoincrement=True)
    name: Mapped[str] = mapped_column(String, nullable=False)

    # Relationship to B
    bs = relationship('B', secondary=b_c_association, back_populates='cs')

In [8]:
Base.metadata.create_all(engine)

2024-09-10 13:47:13,633 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 13:47:13,636 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-09-10 13:47:13,637 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,640 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("web_feedback")
2024-09-10 13:47:13,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,643 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_comment")
2024-09-10 13:47:13,644 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,647 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("company_table")
2024-09-10 13:47:13,648 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,649 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ipo_table")
2024-09-10 13:47:13,650 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,653 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("investor_distribution")
2024-09-10 13:47:13,654 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,656 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("lot_size_table")
2024-09-10 13:47:13,657 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,659 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("registrar_table")
2024-09-10 13:47:13,660 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,662 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("comment_company_association")
2024-09-10 13:47:13,664 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,665 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_company_association")
2024-09-10 13:47:13,666 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,669 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("news_table")
2024-09-10 13:47:13,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,671 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("events")
2024-09-10 13:47:13,672 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,673 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Indices_table")
2024-09-10 13:47:13,675 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,676 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("b_c_association")
2024-09-10 13:47:13,677 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,678 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("b_c_association")
2024-09-10 13:47:13,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,680 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("a_table")
2024-09-10 13:47:13,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,682 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("a_table")
2024-09-10 13:47:13,683 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,685 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("b_table")
2024-09-10 13:47:13,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,687 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("b_table")
2024-09-10 13:47:13,688 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,689 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("c_table")
2024-09-10 13:47:13,690 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,692 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("c_table")
2024-09-10 13:47:13,692 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-10 13:47:13,694 INFO sqlalchemy.engine.Engine
CREATE TABLE a_table (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2024-09-10 13:47:13,695 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2024-09-10 13:47:13,825 INFO sqlalchemy.engine.Engine
CREATE TABLE c_table (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2024-09-10 13:47:13,826 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2024-09-10 13:47:13,925 INFO sqlalchemy.engine.Engine
CREATE TABLE b_table (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	a_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(a_id) REFERENCES a_table (id) ON DELETE CASCADE
)


2024-09-10 13:47:13,926 INFO sqlalchemy.engine.Engine [no key 0.00117s] ()
2024-09-10 13:47:14,026 INFO sqlalchemy.engine.Engine
CREATE TABLE b_c_association (
	b_id INTEGER NOT NULL,
	c_id INTEGER NOT NULL,
	PRIMARY KEY (b_id, c_id),
	FOREIGN KEY(b_id) REFERENCES b_table (id) ON DELETE CASCADE,
	FOREIGN KEY(c_id) REFERENCES c_table (id) ON DELETE CASCADE
)


2024-09-10 13:47:14,027 INFO sqlalchemy.engine.Engine [no key 0.00164s] ()
2024-09-10 13:47:14,125 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
Session = sessionmaker(bind=engine)
session = Session()
import random

faker = Faker()

# Function to create and populate the tables
def populate_tables(num_a=5, num_b_per_a=3, num_c=10):
    # Create and add instances of A
    for _ in range(num_a):
        a = A(name=faker.company())
        session.add(a)
        
        # Create and add instances of B related to A
        for _ in range(num_b_per_a):
            b = B(name=faker.bs(), a=a)
            session.add(b)
            
            # Randomly assign C instances to B (many-to-many)
            cs_for_b = session.query(C).all()
            if not cs_for_b:
                cs_for_b = [C(name=faker.catch_phrase()) for _ in range(num_c)]
                session.add_all(cs_for_b)

            b.cs.extend(random.sample(cs_for_b, random.randint(1, len(cs_for_b))))
    
    # Commit all changes to the database
    session.commit()

# Populating the tables
populate_tables()

# Query to check the population


# Close the session
session.close()

2024-09-10 13:47:22,948 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 13:47:22,951 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-09-10 13:47:22,953 INFO sqlalchemy.engine.Engine [generated in 0.00168s] ('Donovan, Gonzalez and Figueroa',)
2024-09-10 13:47:22,961 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:22,963 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ('aggregate clicks-and-mortar deliverables', 1)
2024-09-10 13:47:22,970 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:22,973 INFO sqlalchemy.engine.Engine [generated in 0.00296s] ()

2024-09-10 13:47:22,980 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:22,982 INFO sqlalchemy.engine.Engine [generated in 0.00029s (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Secured intangible architecture',)
2024-09-10 13:47:22,985 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:22,986 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/10 (ordered; batch not supported)] ('Public-key context-sensitive emulation',)
2024-09-10 13:47:22,988 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:22,990 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/10 (ordered; batch not supported)] ('Focused intangible implementation',)
2024-09-10 13:47:22,992 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:22,993 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/10 (ordered; batch not supported)] ('Phased 24hour Internet solution',)
2024-09-10 13:47:22,994 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:22,996 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/10 (ordered; batch not supported)] ('Expanded homogeneous task-force',)
2024-09-10 13:47:22,997 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:22,999 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/10 (ordered; batch not supported)] ('Balanced reciprocal flexibility',)
2024-09-10 13:47:23,001 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:23,005 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/10 (ordered; batch not supported)] ('Assimilated optimal hardware',)
2024-09-10 13:47:23,008 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:23,010 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/10 (ordered; batch not supported)] ('Triple-buffered holistic Graphical User Interface',)
2024-09-10 13:47:23,011 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:23,013 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/10 (ordered; batch not supported)] ('Synergistic logistical project',)
2024-09-10 13:47:23,014 INFO sqlalchemy.engine.Engine INSERT INTO c_table (name) VALUES (?) RETURNING id
2024-09-10 13:47:23,016 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/10 (ordered; batch not supported)] ('Devolved radical model',)
2024-09-10 13:47:23,022 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,023 INFO sqlalchemy.engine.Engine [generated in 0.00149s] (1,)
2024-09-10 13:47:23,028 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,030 INFO sqlalchemy.engine.Engine [cached since 0.06912s ago] ('evolve dot-com platforms', 1)
2024-09-10 13:47:23,033 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,035 INFO sqlalchemy.engine.Engine [generated in 0.00278s] [(1, 4), (1, 6), (1, 7), (1, 5), (1, 9), (1, 10)]
2024-09-10 13:47:23,040 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,041 INFO sqlalchemy.engine.Engine [cached since 0.0708s ago] ()
2024-09-10 13:47:23,044 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,047 INFO sqlalchemy.engine.Engine [cached since 0.02481s ago] (2,)
2024-09-10 13:47:23,053 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,054 INFO sqlalchemy.engine.Engine [cached since 0.09309s ago] ('unleash sticky niches', 1)
2024-09-10 13:47:23,056 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,057 INFO sqlalchemy.engine.Engine [cached since 0.02431s ago] [(2, 1), (2, 9), (2, 3), (2, 10), (2, 5)]
2024-09-10 13:47:23,060 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,061 INFO sqlalchemy.engine.Engine [cached since 0.09108s ago] ()
2024-09-10 13:47:23,064 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,066 INFO sqlalchemy.engine.Engine [cached since 0.04426s ago] (3,)
2024-09-10 13:47:23,071 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-09-10 13:47:23,073 INFO sqlalchemy.engine.Engine [cached since 0.1222s ago] ('Schwartz PLC',)
2024-09-10 13:47:23,075 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,077 INFO sqlalchemy.engine.Engine [cached since 0.116s ago] ('revolutionize global architectures', 2)
2024-09-10 13:47:23,079 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,081 INFO sqlalchemy.engine.Engine [cached since 0.04815s ago] [(3, 1), (3, 6), (3, 4), (3, 7), (3, 9)]
2024-09-10 13:47:23,084 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,085 INFO sqlalchemy.engine.Engine [cached since 0.1152s ago] ()
2024-09-10 13:47:23,088 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,089 INFO sqlalchemy.engine.Engine [cached since 0.06731s ago] (4,)
2024-09-10 13:47:23,092 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,093 INFO sqlalchemy.engine.Engine [cached since 0.1324s ago] ('architect turn-key solutions', 2)
2024-09-10 13:47:23,095 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,096 INFO sqlalchemy.engine.Engine [cached since 0.06335s ago] [(4, 7), (4, 5), (4, 3), (4, 2), (4, 4), (4, 9), (4, 8)]
2024-09-10 13:47:23,098 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,099 INFO sqlalchemy.engine.Engine [cached since 0.1289s ago] ()
2024-09-10 13:47:23,103 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,104 INFO sqlalchemy.engine.Engine [cached since 0.08266s ago] (5,)
2024-09-10 13:47:23,108 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,109 INFO sqlalchemy.engine.Engine [cached since 0.1478s ago] ('deploy 24/7 schemas', 2)
2024-09-10 13:47:23,111 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,112 INFO sqlalchemy.engine.Engine [cached since 0.07955s ago] [(5, 3), (5, 1), (5, 10), (5, 5), (5, 7), (5, 2), (5, 8)]
2024-09-10 13:47:23,114 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,115 INFO sqlalchemy.engine.Engine [cached since 0.1447s ago] ()
2024-09-10 13:47:23,118 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,119 INFO sqlalchemy.engine.Engine [cached since 0.09747s ago] (6,)
2024-09-10 13:47:23,122 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-09-10 13:47:23,124 INFO sqlalchemy.engine.Engine [cached since 0.1726s ago] ('Steele Group',)
2024-09-10 13:47:23,127 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,128 INFO sqlalchemy.engine.Engine [cached since 0.1672s ago] ('embrace customized info-mediaries', 3)
2024-09-10 13:47:23,130 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,131 INFO sqlalchemy.engine.Engine [generated in 0.00070s] (6, 4)
2024-09-10 13:47:23,132 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,134 INFO sqlalchemy.engine.Engine [cached since 0.1633s ago] ()
2024-09-10 13:47:23,136 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,138 INFO sqlalchemy.engine.Engine [cached since 0.1162s ago] (7,)
2024-09-10 13:47:23,141 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,141 INFO sqlalchemy.engine.Engine [cached since 0.1805s ago] ('reinvent ubiquitous schemas', 3)
2024-09-10 13:47:23,143 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,143 INFO sqlalchemy.engine.Engine [cached since 0.1107s ago] [(7, 1), (7, 2), (7, 9), (7, 3)]
2024-09-10 13:47:23,146 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,148 INFO sqlalchemy.engine.Engine [cached since 0.1773s ago] ()
2024-09-10 13:47:23,150 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,151 INFO sqlalchemy.engine.Engine [cached since 0.1296s ago] (8,)
2024-09-10 13:47:23,156 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,157 INFO sqlalchemy.engine.Engine [cached since 0.1965s ago] ('facilitate end-to-end e-markets', 3)
2024-09-10 13:47:23,159 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,161 INFO sqlalchemy.engine.Engine [cached since 0.1285s ago] [(8, 10), (8, 5), (8, 6), (8, 1), (8, 4)]
2024-09-10 13:47:23,164 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,164 INFO sqlalchemy.engine.Engine [cached since 0.1941s ago] ()
2024-09-10 13:47:23,166 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,167 INFO sqlalchemy.engine.Engine [cached since 0.1454s ago] (9,)
2024-09-10 13:47:23,170 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-09-10 13:47:23,171 INFO sqlalchemy.engine.Engine [cached since 0.2198s ago] ('Bennett-Cunningham',)
2024-09-10 13:47:23,174 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,176 INFO sqlalchemy.engine.Engine [cached since 0.2147s ago] ('facilitate bleeding-edge bandwidth', 4)
2024-09-10 13:47:23,177 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,178 INFO sqlalchemy.engine.Engine [cached since 0.1458s ago] [(9, 7), (9, 4), (9, 9)]
2024-09-10 13:47:23,181 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,182 INFO sqlalchemy.engine.Engine [cached since 0.2117s ago] ()
2024-09-10 13:47:23,185 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,186 INFO sqlalchemy.engine.Engine [cached since 0.1644s ago] (10,)
2024-09-10 13:47:23,192 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,194 INFO sqlalchemy.engine.Engine [cached since 0.2326s ago] ('incentivize cross-media info-mediaries', 4)
2024-09-10 13:47:23,197 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,199 INFO sqlalchemy.engine.Engine [cached since 0.06917s ago] (10, 8)
2024-09-10 13:47:23,202 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,204 INFO sqlalchemy.engine.Engine [cached since 0.2334s ago] ()
2024-09-10 13:47:23,206 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,207 INFO sqlalchemy.engine.Engine [cached since 0.1856s ago] (11,)
2024-09-10 13:47:23,210 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,215 INFO sqlalchemy.engine.Engine [cached since 0.2536s ago] ('revolutionize transparent web-readiness', 4)
2024-09-10 13:47:23,216 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,218 INFO sqlalchemy.engine.Engine [cached since 0.1851s ago] [(11, 5), (11, 6), (11, 2), (11, 10)]
2024-09-10 13:47:23,220 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,221 INFO sqlalchemy.engine.Engine [cached since 0.2507s ago] ()
2024-09-10 13:47:23,223 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,223 INFO sqlalchemy.engine.Engine [cached since 0.2017s ago] (12,)
2024-09-10 13:47:23,227 INFO sqlalchemy.engine.Engine INSERT INTO a_table (name) VALUES (?)
2024-09-10 13:47:23,228 INFO sqlalchemy.engine.Engine [cached since 0.2774s ago] ('Cummings-Smith',)
2024-09-10 13:47:23,230 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,231 INFO sqlalchemy.engine.Engine [cached since 0.2696s ago] ('strategize customized e-services', 5)
2024-09-10 13:47:23,233 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,234 INFO sqlalchemy.engine.Engine [cached since 0.2009s ago] [(12, 8), (12, 3), (12, 4), (12, 5), (12, 10), (12, 1), (12, 6)]
2024-09-10 13:47:23,236 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,238 INFO sqlalchemy.engine.Engine [cached since 0.2676s ago] ()
2024-09-10 13:47:23,240 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,241 INFO sqlalchemy.engine.Engine [cached since 0.219s ago] (13,)
2024-09-10 13:47:23,243 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,244 INFO sqlalchemy.engine.Engine [cached since 0.2827s ago] ('brand web-enabled portals', 5)
2024-09-10 13:47:23,245 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,246 INFO sqlalchemy.engine.Engine [cached since 0.2131s ago] [(13, 8), (13, 5), (13, 1)]
2024-09-10 13:47:23,249 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,249 INFO sqlalchemy.engine.Engine [cached since 0.2792s ago] ()
2024-09-10 13:47:23,252 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,254 INFO sqlalchemy.engine.Engine [cached since 0.2318s ago] (14,)
2024-09-10 13:47:23,256 INFO sqlalchemy.engine.Engine INSERT INTO b_table (name, a_id) VALUES (?, ?)
2024-09-10 13:47:23,257 INFO sqlalchemy.engine.Engine [cached since 0.2963s ago] ('syndicate collaborative eyeballs', 5)
2024-09-10 13:47:23,258 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,259 INFO sqlalchemy.engine.Engine [cached since 0.2268s ago] [(14, 7), (14, 8), (14, 9), (14, 6), (14, 4), (14, 2), (14, 5), (14, 3)]
2024-09-10 13:47:23,262 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table
2024-09-10 13:47:23,264 INFO sqlalchemy.engine.Engine [cached since 0.2935s ago] ()
2024-09-10 13:47:23,267 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 13:47:23,268 INFO sqlalchemy.engine.Engine [cached since 0.2461s ago] (15,)
2024-09-10 13:47:23,271 INFO sqlalchemy.engine.Engine INSERT INTO b_c_association (b_id, c_id) VALUES (?, ?)
2024-09-10 13:47:23,272 INFO sqlalchemy.engine.Engine [cached since 0.2398s ago] [(15, 9), (15, 7), (15, 10)]
2024-09-10 13:47:23,274 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
all_a = session.query(A).all()
for a in all_a:
    print(f"A: {a.name}")
    for b in a.bs:
        print(f"  B: {b.name}",'________________________________')
        for c in b.cs:
            print(f"    C: {c.name}")

2024-09-10 19:14:34,272 INFO sqlalchemy.engine.Engine SELECT a_table.id AS a_table_id, a_table.name AS a_table_name
FROM a_table
2024-09-10 19:14:34,273 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ()
A: Steele Group
2024-09-10 19:14:34,279 INFO sqlalchemy.engine.Engine SELECT b_table.id AS b_table_id, b_table.name AS b_table_name, b_table.a_id AS b_table_a_id
FROM b_table
WHERE ? = b_table.a_id
2024-09-10 19:14:34,280 INFO sqlalchemy.engine.Engine [generated in 0.00128s] (3,)
  B: embrace customized info-mediaries ________________________________
2024-09-10 19:14:34,285 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,286 INFO sqlalchemy.engine.Engine [generated in 0.00106s] (7,)
    C: Secured intangible architecture
    C: Public-key context-sensitive emulation
    C: Focused intangible implementation
    C: Synergistic logistical project
  B: reinvent ubiquitous schemas ________________________________
2024-09-10 19:14:34,290 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,292 INFO sqlalchemy.engine.Engine [cached since 0.006812s ago] (8,)
    C: Secured intangible architecture
    C: Phased 24hour Internet solution
    C: Expanded homogeneous task-force
    C: Balanced reciprocal flexibility
    C: Devolved radical model
  B: facilitate end-to-end e-markets ________________________________
2024-09-10 19:14:34,297 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,298 INFO sqlalchemy.engine.Engine [cached since 0.01307s ago] (9,)
    C: Phased 24hour Internet solution
    C: Assimilated optimal hardware
    C: Synergistic logistical project
A: Bennett-Cunningham
2024-09-10 19:14:34,302 INFO sqlalchemy.engine.Engine SELECT b_table.id AS b_table_id, b_table.name AS b_table_name, b_table.a_id AS b_table_a_id
FROM b_table
WHERE ? = b_table.a_id
2024-09-10 19:14:34,302 INFO sqlalchemy.engine.Engine [cached since 0.02403s ago] (4,)
  B: facilitate bleeding-edge bandwidth ________________________________
2024-09-10 19:14:34,306 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,307 INFO sqlalchemy.engine.Engine [cached since 0.02159s ago] (10,)
    C: Triple-buffered holistic Graphical User Interface
  B: incentivize cross-media info-mediaries ________________________________
2024-09-10 19:14:34,310 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,313 INFO sqlalchemy.engine.Engine [cached since 0.02733s ago] (11,)
    C: Public-key context-sensitive emulation
    C: Expanded homogeneous task-force
    C: Balanced reciprocal flexibility
    C: Devolved radical model
  B: revolutionize transparent web-readiness ________________________________
2024-09-10 19:14:34,316 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,317 INFO sqlalchemy.engine.Engine [cached since 0.03223s ago] (12,)
    C: Secured intangible architecture
    C: Focused intangible implementation
    C: Phased 24hour Internet solution
    C: Expanded homogeneous task-force
    C: Balanced reciprocal flexibility
    C: Triple-buffered holistic Graphical User Interface
    C: Devolved radical model
A: Cummings-Smith
2024-09-10 19:14:34,321 INFO sqlalchemy.engine.Engine SELECT b_table.id AS b_table_id, b_table.name AS b_table_name, b_table.a_id AS b_table_a_id
FROM b_table
WHERE ? = b_table.a_id
2024-09-10 19:14:34,322 INFO sqlalchemy.engine.Engine [cached since 0.04314s ago] (5,)
  B: strategize customized e-services ________________________________
2024-09-10 19:14:34,325 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,327 INFO sqlalchemy.engine.Engine [cached since 0.04139s ago] (13,)
    C: Secured intangible architecture
    C: Expanded homogeneous task-force
    C: Triple-buffered holistic Graphical User Interface
  B: brand web-enabled portals ________________________________
2024-09-10 19:14:34,330 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,331 INFO sqlalchemy.engine.Engine [cached since 0.04567s ago] (14,)
    C: Public-key context-sensitive emulation
    C: Focused intangible implementation
    C: Phased 24hour Internet solution
    C: Expanded homogeneous task-force
    C: Balanced reciprocal flexibility
    C: Assimilated optimal hardware
    C: Triple-buffered holistic Graphical User Interface
    C: Synergistic logistical project
  B: syndicate collaborative eyeballs ________________________________
2024-09-10 19:14:34,334 INFO sqlalchemy.engine.Engine SELECT c_table.id AS c_table_id, c_table.name AS c_table_name
FROM c_table, b_c_association
WHERE ? = b_c_association.b_id AND c_table.id = b_c_association.c_id
2024-09-10 19:14:34,337 INFO sqlalchemy.engine.Engine [cached since 0.05184s ago] (15,)
    C: Assimilated optimal hardware
    C: Synergistic logistical project
    C: Devolved radical model

In [18]:
all_B = session.query(B).all()
all_A = session.query(A).all()

2024-09-10 19:14:40,072 INFO sqlalchemy.engine.Engine SELECT b_table.id AS b_table_id, b_table.name AS b_table_name, b_table.a_id AS b_table_a_id
FROM b_table
2024-09-10 19:14:40,075 INFO sqlalchemy.engine.Engine [generated in 0.00337s] ()
2024-09-10 19:14:40,080 INFO sqlalchemy.engine.Engine SELECT a_table.id AS a_table_id, a_table.name AS a_table_name
FROM a_table
2024-09-10 19:14:40,082 INFO sqlalchemy.engine.Engine [cached since 5.811s ago] ()

In [19]:
session.delete(all_A[0])
session.commit()
session.close()

2024-09-10 19:14:42,518 INFO sqlalchemy.engine.Engine DELETE FROM b_c_association WHERE b_c_association.b_id = ? AND b_c_association.c_id = ?
2024-09-10 19:14:42,522 INFO sqlalchemy.engine.Engine [generated in 0.00504s] [(9, 4), (9, 7), (9, 9), (8, 1), (8, 4), (8, 5), (8, 6), (8, 10)  ... displaying 10 of 12 total bound parameter sets ...  (7, 3), (7, 9)]
2024-09-10 19:14:42,530 INFO sqlalchemy.engine.Engine DELETE FROM b_table WHERE b_table.id = ?
2024-09-10 19:14:42,533 INFO sqlalchemy.engine.Engine [generated in 0.00378s] [(7,), (8,), (9,)]
2024-09-10 19:14:42,539 INFO sqlalchemy.engine.Engine DELETE FROM a_table WHERE a_table.id = ?
2024-09-10 19:14:42,542 INFO sqlalchemy.engine.Engine [generated in 0.00250s] (3,)
2024-09-10 19:14:42,546 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
session.delete(all_B[0])
session.commit()
session.close()

2024-09-10 19:18:11,825 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 19:18:11,828 INFO sqlalchemy.engine.Engine DELETE FROM b_table WHERE b_table.id = ?
2024-09-10 19:18:11,831 INFO sqlalchemy.engine.Engine [generated in 0.00322s] (7,)
2024-09-10 19:18:11,834 INFO sqlalchemy.engine.Engine COMMIT

/tmp/ipykernel_87530/1378924554.py:2: SAWarning: Object of type <C> not in session, delete operation along 'B.cs' won't proceed
  session.commit()
/tmp/ipykernel_87530/1378924554.py:2: SAWarning: DELETE statement on table 'b_table' expected to delete 1 row(s); 0 were matched.  Please set confirm_deleted_rows=False within the mapper configuration to prevent this warning.
  session.commit()

In [8]:
from sqlalchemy import select
def fetch_recent_news_by_company_name(company_name: str, limit: int = 10):
        """
        Fetches the most recent news entries associated with a specific company name.

        Args:
            session (Session): SQLAlchemy session object.
            company_name (str): Name of the company.
            limit (int): Number of news entries to fetch. Default is 10.

        Returns:
            List of recent news entries associated with the specified company.
        """
        session = Session(engine)
        try:
            stmt = (select(News, Company)
                .join(NewsCompanyAssociation, News.id == NewsCompanyAssociation.news_id)
                .join(Company, NewsCompanyAssociation.company_id == Company.id)
                .where(Company.company_name == company_name)
                .limit(limit))
            
            recent_news = session.execute(stmt).all()
            
            return recent_news
        
        except Exception as e:
            session.rollback()
            print(e)
            return e
        finally:
            session.close()

In [4]:
#news_list[0].companies
news_list = fetch_recent_news_by_company_name('Guerra-Brown')

2024-09-10 20:27:40,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-10 20:27:40,861 INFO sqlalchemy.engine.Engine SELECT news_table.id, news_table.headline, news_table.content, news_table.topic, news_table.news_url, news_table.sentiment, news_table.sentiment_statement, news_table.created_at, company_table.id AS id_1, company_table.symbol, company_table.company_name, company_table.mcap, company_table.sector, company_table.created_at AS created_at_1, company_table.updated_at
FROM news_table JOIN news_company_association ON news_table.id = news_company_association.news_id JOIN company_table ON news_company_association.company_id = company_table.id
WHERE company_table.company_name = ?
 LIMIT ? OFFSET ?
2024-09-10 20:27:40,864 INFO sqlalchemy.engine.Engine [generated in 0.00282s] ('Guerra-Brown', 10, 0)
2024-09-10 20:27:40,867 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
for kd in news_list:
    news, company = kd
    print(news, company)

2: Member sign life successful season crime study environment style. 3 : Guerra-Brown
3: Pressure down PM benefit arm subject over feeling money newspaper. 3 : Guerra-Brown
7: Boy response knowledge may thousand music catch. 3 : Guerra-Brown
9: Nature cup whom poor send through law national last people friend state half. 3 : Guerra-Brown
13: End time trouble stay beat PM stage short put lay too. 3 : Guerra-Brown
16: Through data difference others know expert cell style believe tough wait candidate under. 3 : Guerra-Brown
18: Then say listen miss other how require take. 3 : Guerra-Brown

In [9]:
news_data = [
    {
        "id": news.id,
        "headline": news.headline,
        "content": news.content,
        "topic": news.topic,
        "news_url": news.news_url,
        "sentiment": news.sentiment,
        "sentiment_statement": news.sentiment_statement,
        "created_at": news.created_at,
        
        "company": {
            "company_id": company.id,
            "company_name": company.company_name,
            "company_sector": company.sector
        }
    }
    for news, company in news_list
]
news_data

[{'id': 2,
  'headline': 'Member sign life successful season crime study environment style.',
  'content': 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.',
  'topic': 'sort',
  'news_url': 'https://mcdaniel.biz/',
  'sentiment': 0,
  'sentiment_statement': 'Half black because song capital administration sound teach.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}},
 {'id': 3,
  'headline': 'Pressure down PM benefit arm subject over feeling money newspaper.',
  'content': 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.',
  'topic': 'themselves',
  'news_url': 'http://decker.com/',
  'sentiment': -1,
  'sentiment_statement': 'Bar shoulder decade rich director population measure.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}},
 {'id': 7,
  'headline': 'Boy response knowledge may thousand music catch.',
  'content': 'Memory ball media along these easy. To more food recognize national training. Not before painting sure whom. Wall measure again ability election. Present carry break majority low.',
  'topic': 'car',
  'news_url': 'https://brennan.com/',
  'sentiment': 1,
  'sentiment_statement': 'Customer plan maybe manager place fly play pay.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}},
 {'id': 9,
  'headline': 'Nature cup whom poor send through law national last people friend state half.',
  'content': 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.',
  'topic': 'since',
  'news_url': 'http://haynes.org/',
  'sentiment': -1,
  'sentiment_statement': 'Treat see better child computer either total.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}},
 {'id': 13,
  'headline': 'End time trouble stay beat PM stage short put lay too.',
  'content': 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.',
  'topic': 'public',
  'news_url': 'https://smith-cohen.com/',
  'sentiment': 0,
  'sentiment_statement': 'Matter remember body keep body lay.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}},
 {'id': 16,
  'headline': 'Through data difference others know expert cell style believe tough wait candidate under.',
  'content': 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.',
  'topic': 'low',
  'news_url': 'http://www.navarro.com/',
  'sentiment': 1,
  'sentiment_statement': 'Suddenly really social standard even exist identify agency toward.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}},
 {'id': 18,
  'headline': 'Then say listen miss other how require take.',
  'content': 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.',
  'topic': 'condition',
  'news_url': 'http://www.parsons-lewis.com/',
  'sentiment': 0,
  'sentiment_statement': 'Admit any could manage probably.',
  'created_at': datetime.datetime(2024, 9, 10, 13, 40, 27),
  'company': {'company_id': 3,
   'company_name': 'Guerra-Brown',
   'company_sector': 'Technology'}}]

In [31]:
def get_news_sectorwise():
    session = Session(engine)
    try:
        stmt = (select(News, Company)
            .join(NewsCompanyAssociation, News.id == NewsCompanyAssociation.news_id)
            .join(Company, NewsCompanyAssociation.company_id == Company.id)
            .order_by(News.id.desc()))
        news_list = session.execute(stmt).all()
        return news_list
    except Exception as e:
        session.rollback()
        print(e)
        return e
    finally:
        session.close()

In [32]:
sector_wise_nesw = get_news_sectorwise()

2024-09-12 18:14:06,690 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-12 18:14:06,695 INFO sqlalchemy.engine.Engine SELECT news_table.id, news_table.headline, news_table.content, news_table.topic, news_table.news_url, news_table.sentiment, news_table.sentiment_statement, news_table.created_at, company_table.id AS id_1, company_table.symbol, company_table.company_name, company_table.mcap, company_table.sector, company_table.created_at AS created_at_1, company_table.updated_at
FROM news_table JOIN news_company_association ON news_table.id = news_company_association.news_id JOIN company_table ON news_company_association.company_id = company_table.id ORDER BY news_table.id DESC
2024-09-12 18:14:06,697 INFO sqlalchemy.engine.Engine [cached since 1600s ago] ()
2024-09-12 18:14:06,702 INFO sqlalchemy.engine.Engine ROLLBACK

In [33]:
sector_wise_nesw[2]

(19: Fact scientist nothing change suffer space a would free finally national difficult., 5 : Cordova LLC)

In [45]:
from collections import defaultdict
from src.db_models.news import News

sector_wise_recent_news = get_news_sectorwise()

sector_wise_recent_news

2024-09-12 18:46:59,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-12 18:46:59,875 INFO sqlalchemy.engine.Engine SELECT news_table.id, news_table.headline, news_table.content, news_table.topic, news_table.news_url, news_table.sentiment, news_table.sentiment_statement, news_table.created_at, company_table.id AS id_1, company_table.symbol, company_table.company_name, company_table.mcap, company_table.sector, company_table.created_at AS created_at_1, company_table.updated_at
FROM news_table JOIN news_company_association ON news_table.id = news_company_association.news_id JOIN company_table ON news_company_association.company_id = company_table.id ORDER BY news_table.id DESC
2024-09-12 18:46:59,877 INFO sqlalchemy.engine.Engine [cached since 3573s ago] ()
2024-09-12 18:46:59,881 INFO sqlalchemy.engine.Engine ROLLBACK

[(20: Blue tend house staff commercial herself prove picture million type speech other question., 8 : Carpenter, Allen and Woods),
 (20: Blue tend house staff commercial herself prove picture million type speech other question., 9 : Ford Ltd),
 (19: Fact scientist nothing change suffer space a would free finally national difficult., 5 : Cordova LLC),
 (19: Fact scientist nothing change suffer space a would free finally national difficult., 4 : Allen and Sons),
 (18: Then say listen miss other how require take., 3 : Guerra-Brown),
 (18: Then say listen miss other how require take., 1 : Taylor-Robertson),
 (17: Car stand form parent majority know participant., 6 : Cohen-King),
 (16: Through data difference others know expert cell style believe tough wait candidate under., 3 : Guerra-Brown),
 (16: Through data difference others know expert cell style believe tough wait candidate under., 10 : Collins, Thomas and Williams),
 (16: Through data difference others know expert cell style believe tough wait candidate under., 6 : Cohen-King),
 (15: Up add subject research sell idea school still up., 1 : Taylor-Robertson),
 (14: No none say heart information part full your yeah certain return suddenly., 9 : Ford Ltd),
 (14: No none say heart information part full your yeah certain return suddenly., 2 : Walton PLC),
 (13: End time trouble stay beat PM stage short put lay too., 3 : Guerra-Brown),
 (13: End time trouble stay beat PM stage short put lay too., 1 : Taylor-Robertson),
 (12: Evening green require bring her serve finally task., 5 : Cordova LLC),
 (12: Evening green require bring her serve finally task., 7 : Cantrell, Craig and Gomez),
 (11: Letter career election few turn think tree amount billion beyond quality fill final oil., 5 : Cordova LLC),
 (11: Letter career election few turn think tree amount billion beyond quality fill final oil., 10 : Collins, Thomas and Williams),
 (10: Fly rock make build painting either return heart message matter position., 6 : Cohen-King),
 (10: Fly rock make build painting either return heart message matter position., 7 : Cantrell, Craig and Gomez),
 (10: Fly rock make build painting either return heart message matter position., 4 : Allen and Sons),
 (9: Nature cup whom poor send through law national last people friend state half., 2 : Walton PLC),
 (9: Nature cup whom poor send through law national last people friend state half., 3 : Guerra-Brown),
 (9: Nature cup whom poor send through law national last people friend state half., 5 : Cordova LLC),
 (8: Good human billion ever up hold ground point discuss., 1 : Taylor-Robertson),
 (8: Good human billion ever up hold ground point discuss., 9 : Ford Ltd),
 (7: Boy response knowledge may thousand music catch., 3 : Guerra-Brown),
 (6: Push conference however find most city citizen to produce list run., 1 : Taylor-Robertson),
 (6: Push conference however find most city citizen to produce list run., 7 : Cantrell, Craig and Gomez),
 (5: Into name response garden trip culture far., 9 : Ford Ltd),
 (4: Cost policy across inside water do get finish pick shake., 8 : Carpenter, Allen and Woods),
 (3: Pressure down PM benefit arm subject over feeling money newspaper., 2 : Walton PLC),
 (3: Pressure down PM benefit arm subject over feeling money newspaper., 7 : Cantrell, Craig and Gomez),
 (3: Pressure down PM benefit arm subject over feeling money newspaper., 3 : Guerra-Brown),
 (2: Member sign life successful season crime study environment style., 3 : Guerra-Brown),
 (2: Member sign life successful season crime study environment style., 9 : Ford Ltd),
 (2: Member sign life successful season crime study environment style., 8 : Carpenter, Allen and Woods),
 (1: Beat start say either none heavy down business state way sister civil market., 1 : Taylor-Robertson),
 (1: Beat start say either none heavy down business state way sister civil market., 4 : Allen and Sons)]

In [61]:
import json
from collections import defaultdict

# Assuming sector_wise_recent_news is the data you fetched from the database.
# Create a dictionary to group news by sector
news_by_sector = defaultdict(lambda: defaultdict(set))

for news, company in sector_wise_recent_news:
    news_detail = {
        "headline": news.headline,
        "content": news.content,
        "url": news.news_url,
        "sentiment": news.sentiment,
        "date": str(news.created_at)  # Convert date to string for JSON serialization
    }
    
    # Use news.id as the key since it's unique and hashable
    news_by_sector[company.sector][news.id] = {
        "news_detail": news_detail,
        "companies": set()  # Initialize a set to hold company names
    }

    # Add the company name to the set of companies for this news article
    news_by_sector[company.sector][news.id]["companies"].add(company.company_name)

# Convert the dictionary to the desired format for JSON
result = {}
for sector, news_items in news_by_sector.items():
    result[sector] = []
    for news_id, news_data in news_items.items():
        result[sector].append({
            "news_headline": news_data["news_detail"]["headline"],
            "companies": list(news_data["companies"]),  # Convert set to list for JSON
            "news_content": news_data["news_detail"]["content"],
            "news_url": news_data["news_detail"]["url"],
            "news_sentiment": news_data["news_detail"]["sentiment"],
            "news_date": news_data["news_detail"]["date"]
        })

In [62]:
news_by_sector

defaultdict(<function __main__.<lambda>()>,
            {'Energy': defaultdict(set,
                         {20: {'news_detail': {'headline': 'Blue tend house staff commercial herself prove picture million type speech other question.',
                            'content': 'Message picture study customer leader contain culture. Customer family food. Some Congress result every war. Series window tax marriage. Size improve hit nice kind performance.',
                            'url': 'https://www.jensen.info/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Ford Ltd'}},
                          19: {'news_detail': {'headline': 'Fact scientist nothing change suffer space a would free finally national difficult.',
                            'content': 'Off government forget. Step generation beyond nor goal. Study others stand. It start now.',
                            'url': 'http://www.berry.com/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Allen and Sons'}},
                          14: {'news_detail': {'headline': 'No none say heart information part full your yeah certain return suddenly.',
                            'content': 'Ability no affect catch. Area traditional property she. Serve rule thus. Western worry week people worker time. Hot always say notice though. Increase simple as.',
                            'url': 'http://ware-waters.info/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Ford Ltd'}},
                          10: {'news_detail': {'headline': 'Fly rock make build painting either return heart message matter position.',
                            'content': 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.',
                            'url': 'http://www.nielsen-baker.net/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Allen and Sons'}},
                          8: {'news_detail': {'headline': 'Good human billion ever up hold ground point discuss.',
                            'content': 'Mr sing city energy season environment. Yet possible account question. Pretty wish standard single conference.',
                            'url': 'http://www.gonzalez-bradley.org/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Ford Ltd'}},
                          5: {'news_detail': {'headline': 'Into name response garden trip culture far.',
                            'content': 'Region reduce ask although get poor herself. Executive will network physical play. Child push it why research wind yard. Return few natural fight stand one significant get. Keep kid assume dinner former heavy.',
                            'url': 'https://www.underwood.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Ford Ltd'}},
                          4: {'news_detail': {'headline': 'Cost policy across inside water do get finish pick shake.',
                            'content': 'General simple cost develop left. Head perform walk. Put again big role stand. Cup home record forward. Allow including level well.',
                            'url': 'https://www.bradley.info/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Carpenter, Allen and Woods'}},
                          2: {'news_detail': {'headline': 'Member sign life successful season crime study environment style.',
                            'content': 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.',
                            'url': 'https://mcdaniel.biz/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Carpenter, Allen and Woods'}},
                          1: {'news_detail': {'headline': 'Beat start say either none heavy down business state way sister civil market.',
                            'content': 'Actually century over short certain. Summer specific option concern. Evidence especially life sister. Information among avoid still later get effect imagine. Worker present defense. Or century their defense. Wind action economy official natural can.',
                            'url': 'https://www.davis-banks.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Allen and Sons'}}}),
             'Technology': defaultdict(set,
                         {19: {'news_detail': {'headline': 'Fact scientist nothing change suffer space a would free finally national difficult.',
                            'content': 'Off government forget. Step generation beyond nor goal. Study others stand. It start now.',
                            'url': 'http://www.berry.com/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cordova LLC'}},
                          18: {'news_detail': {'headline': 'Then say listen miss other how require take.',
                            'content': 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.',
                            'url': 'http://www.parsons-lewis.com/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Guerra-Brown'}},
                          16: {'news_detail': {'headline': 'Through data difference others know expert cell style believe tough wait candidate under.',
                            'content': 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.',
                            'url': 'http://www.navarro.com/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Guerra-Brown'}},
                          13: {'news_detail': {'headline': 'End time trouble stay beat PM stage short put lay too.',
                            'content': 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.',
                            'url': 'https://smith-cohen.com/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Guerra-Brown'}},
                          12: {'news_detail': {'headline': 'Evening green require bring her serve finally task.',
                            'content': 'Probably few cost summer city. Bag model employee relate anything. Hospital machine cell cell.',
                            'url': 'http://www.wilson.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cordova LLC'}},
                          11: {'news_detail': {'headline': 'Letter career election few turn think tree amount billion beyond quality fill final oil.',
                            'content': 'Price little identify. Before talk want it manage. Certainly special seven physical court author. Let guy son last.',
                            'url': 'http://bush.info/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cordova LLC'}},
                          9: {'news_detail': {'headline': 'Nature cup whom poor send through law national last people friend state half.',
                            'content': 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.',
                            'url': 'http://haynes.org/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cordova LLC'}},
                          7: {'news_detail': {'headline': 'Boy response knowledge may thousand music catch.',
                            'content': 'Memory ball media along these easy. To more food recognize national training. Not before painting sure whom. Wall measure again ability election. Present carry break majority low.',
                            'url': 'https://brennan.com/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Guerra-Brown'}},
                          3: {'news_detail': {'headline': 'Pressure down PM benefit arm subject over feeling money newspaper.',
                            'content': 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.',
                            'url': 'http://decker.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Guerra-Brown'}},
                          2: {'news_detail': {'headline': 'Member sign life successful season crime study environment style.',
                            'content': 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.',
                            'url': 'https://mcdaniel.biz/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Guerra-Brown'}}}),
             'Consumer Goods': defaultdict(set,
                         {18: {'news_detail': {'headline': 'Then say listen miss other how require take.',
                            'content': 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.',
                            'url': 'http://www.parsons-lewis.com/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Taylor-Robertson'}},
                          17: {'news_detail': {'headline': 'Car stand form parent majority know participant.',
                            'content': 'Space federal condition officer speech back. Tell thank type politics catch information where. Reality no work collection.',
                            'url': 'http://www.harris.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cohen-King'}},
                          16: {'news_detail': {'headline': 'Through data difference others know expert cell style believe tough wait candidate under.',
                            'content': 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.',
                            'url': 'http://www.navarro.com/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cohen-King'}},
                          15: {'news_detail': {'headline': 'Up add subject research sell idea school still up.',
                            'content': 'Local week color wait. Back use me media onto. Product building view its.',
                            'url': 'http://www.johnson.com/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Taylor-Robertson'}},
                          13: {'news_detail': {'headline': 'End time trouble stay beat PM stage short put lay too.',
                            'content': 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.',
                            'url': 'https://smith-cohen.com/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Taylor-Robertson'}},
                          11: {'news_detail': {'headline': 'Letter career election few turn think tree amount billion beyond quality fill final oil.',
                            'content': 'Price little identify. Before talk want it manage. Certainly special seven physical court author. Let guy son last.',
                            'url': 'http://bush.info/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Collins, Thomas and Williams'}},
                          10: {'news_detail': {'headline': 'Fly rock make build painting either return heart message matter position.',
                            'content': 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.',
                            'url': 'http://www.nielsen-baker.net/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cohen-King'}},
                          8: {'news_detail': {'headline': 'Good human billion ever up hold ground point discuss.',
                            'content': 'Mr sing city energy season environment. Yet possible account question. Pretty wish standard single conference.',
                            'url': 'http://www.gonzalez-bradley.org/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Taylor-Robertson'}},
                          6: {'news_detail': {'headline': 'Push conference however find most city citizen to produce list run.',
                            'content': 'Hospital one environment set attack. Detail value plant nature day. Interest amount understand hard. Final ability person choose order.',
                            'url': 'https://www.taylor.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Taylor-Robertson'}},
                          1: {'news_detail': {'headline': 'Beat start say either none heavy down business state way sister civil market.',
                            'content': 'Actually century over short certain. Summer specific option concern. Evidence especially life sister. Information among avoid still later get effect imagine. Worker present defense. Or century their defense. Wind action economy official natural can.',
                            'url': 'https://www.davis-banks.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Taylor-Robertson'}}}),
             'Healthcare': defaultdict(set,
                         {14: {'news_detail': {'headline': 'No none say heart information part full your yeah certain return suddenly.',
                            'content': 'Ability no affect catch. Area traditional property she. Serve rule thus. Western worry week people worker time. Hot always say notice though. Increase simple as.',
                            'url': 'http://ware-waters.info/',
                            'sentiment': 0,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Walton PLC'}},
                          12: {'news_detail': {'headline': 'Evening green require bring her serve finally task.',
                            'content': 'Probably few cost summer city. Bag model employee relate anything. Hospital machine cell cell.',
                            'url': 'http://www.wilson.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cantrell, Craig and Gomez'}},
                          10: {'news_detail': {'headline': 'Fly rock make build painting either return heart message matter position.',
                            'content': 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.',
                            'url': 'http://www.nielsen-baker.net/',
                            'sentiment': 1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cantrell, Craig and Gomez'}},
                          9: {'news_detail': {'headline': 'Nature cup whom poor send through law national last people friend state half.',
                            'content': 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.',
                            'url': 'http://haynes.org/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Walton PLC'}},
                          6: {'news_detail': {'headline': 'Push conference however find most city citizen to produce list run.',
                            'content': 'Hospital one environment set attack. Detail value plant nature day. Interest amount understand hard. Final ability person choose order.',
                            'url': 'https://www.taylor.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cantrell, Craig and Gomez'}},
                          3: {'news_detail': {'headline': 'Pressure down PM benefit arm subject over feeling money newspaper.',
                            'content': 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.',
                            'url': 'http://decker.com/',
                            'sentiment': -1,
                            'date': '2024-09-10 13:40:27'},
                           'companies': {'Cantrell, Craig and Gomez'}}})})

In [63]:
result

{'Energy': [{'news_headline': 'Blue tend house staff commercial herself prove picture million type speech other question.',
   'companies': ['Ford Ltd'],
   'news_content': 'Message picture study customer leader contain culture. Customer family food. Some Congress result every war. Series window tax marriage. Size improve hit nice kind performance.',
   'news_url': 'https://www.jensen.info/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Fact scientist nothing change suffer space a would free finally national difficult.',
   'companies': ['Allen and Sons'],
   'news_content': 'Off government forget. Step generation beyond nor goal. Study others stand. It start now.',
   'news_url': 'http://www.berry.com/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'No none say heart information part full your yeah certain return suddenly.',
   'companies': ['Ford Ltd'],
   'news_content': 'Ability no affect catch. Area traditional property she. Serve rule thus. Western worry week people worker time. Hot always say notice though. Increase simple as.',
   'news_url': 'http://ware-waters.info/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Fly rock make build painting either return heart message matter position.',
   'companies': ['Allen and Sons'],
   'news_content': 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.',
   'news_url': 'http://www.nielsen-baker.net/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Good human billion ever up hold ground point discuss.',
   'companies': ['Ford Ltd'],
   'news_content': 'Mr sing city energy season environment. Yet possible account question. Pretty wish standard single conference.',
   'news_url': 'http://www.gonzalez-bradley.org/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Into name response garden trip culture far.',
   'companies': ['Ford Ltd'],
   'news_content': 'Region reduce ask although get poor herself. Executive will network physical play. Child push it why research wind yard. Return few natural fight stand one significant get. Keep kid assume dinner former heavy.',
   'news_url': 'https://www.underwood.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Cost policy across inside water do get finish pick shake.',
   'companies': ['Carpenter, Allen and Woods'],
   'news_content': 'General simple cost develop left. Head perform walk. Put again big role stand. Cup home record forward. Allow including level well.',
   'news_url': 'https://www.bradley.info/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Member sign life successful season crime study environment style.',
   'companies': ['Carpenter, Allen and Woods'],
   'news_content': 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.',
   'news_url': 'https://mcdaniel.biz/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Beat start say either none heavy down business state way sister civil market.',
   'companies': ['Allen and Sons'],
   'news_content': 'Actually century over short certain. Summer specific option concern. Evidence especially life sister. Information among avoid still later get effect imagine. Worker present defense. Or century their defense. Wind action economy official natural can.',
   'news_url': 'https://www.davis-banks.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'}],
 'Technology': [{'news_headline': 'Fact scientist nothing change suffer space a would free finally national difficult.',
   'companies': ['Cordova LLC'],
   'news_content': 'Off government forget. Step generation beyond nor goal. Study others stand. It start now.',
   'news_url': 'http://www.berry.com/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Then say listen miss other how require take.',
   'companies': ['Guerra-Brown'],
   'news_content': 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.',
   'news_url': 'http://www.parsons-lewis.com/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Through data difference others know expert cell style believe tough wait candidate under.',
   'companies': ['Guerra-Brown'],
   'news_content': 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.',
   'news_url': 'http://www.navarro.com/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'End time trouble stay beat PM stage short put lay too.',
   'companies': ['Guerra-Brown'],
   'news_content': 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.',
   'news_url': 'https://smith-cohen.com/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Evening green require bring her serve finally task.',
   'companies': ['Cordova LLC'],
   'news_content': 'Probably few cost summer city. Bag model employee relate anything. Hospital machine cell cell.',
   'news_url': 'http://www.wilson.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Letter career election few turn think tree amount billion beyond quality fill final oil.',
   'companies': ['Cordova LLC'],
   'news_content': 'Price little identify. Before talk want it manage. Certainly special seven physical court author. Let guy son last.',
   'news_url': 'http://bush.info/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Nature cup whom poor send through law national last people friend state half.',
   'companies': ['Cordova LLC'],
   'news_content': 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.',
   'news_url': 'http://haynes.org/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Boy response knowledge may thousand music catch.',
   'companies': ['Guerra-Brown'],
   'news_content': 'Memory ball media along these easy. To more food recognize national training. Not before painting sure whom. Wall measure again ability election. Present carry break majority low.',
   'news_url': 'https://brennan.com/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Pressure down PM benefit arm subject over feeling money newspaper.',
   'companies': ['Guerra-Brown'],
   'news_content': 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.',
   'news_url': 'http://decker.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Member sign life successful season crime study environment style.',
   'companies': ['Guerra-Brown'],
   'news_content': 'Machine likely middle car market. Really debate energy religious. Price job follow result. Form single camera political economic.',
   'news_url': 'https://mcdaniel.biz/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'}],
 'Consumer Goods': [{'news_headline': 'Then say listen miss other how require take.',
   'companies': ['Taylor-Robertson'],
   'news_content': 'West none family clear risk. Current wife budget save child. Represent performance cold if project. Statement unit in baby. Economic attack food laugh newspaper part better.',
   'news_url': 'http://www.parsons-lewis.com/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Car stand form parent majority know participant.',
   'companies': ['Cohen-King'],
   'news_content': 'Space federal condition officer speech back. Tell thank type politics catch information where. Reality no work collection.',
   'news_url': 'http://www.harris.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Through data difference others know expert cell style believe tough wait candidate under.',
   'companies': ['Cohen-King'],
   'news_content': 'Society foot knowledge report national. How artist gas this. Unit operation foreign loss manage each. General college bed everybody.',
   'news_url': 'http://www.navarro.com/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Up add subject research sell idea school still up.',
   'companies': ['Taylor-Robertson'],
   'news_content': 'Local week color wait. Back use me media onto. Product building view its.',
   'news_url': 'http://www.johnson.com/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'End time trouble stay beat PM stage short put lay too.',
   'companies': ['Taylor-Robertson'],
   'news_content': 'Might someone young learn argue glass. Difficult discuss call share its guess different. Care door natural produce team operation.',
   'news_url': 'https://smith-cohen.com/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Letter career election few turn think tree amount billion beyond quality fill final oil.',
   'companies': ['Collins, Thomas and Williams'],
   'news_content': 'Price little identify. Before talk want it manage. Certainly special seven physical court author. Let guy son last.',
   'news_url': 'http://bush.info/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Fly rock make build painting either return heart message matter position.',
   'companies': ['Cohen-King'],
   'news_content': 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.',
   'news_url': 'http://www.nielsen-baker.net/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Good human billion ever up hold ground point discuss.',
   'companies': ['Taylor-Robertson'],
   'news_content': 'Mr sing city energy season environment. Yet possible account question. Pretty wish standard single conference.',
   'news_url': 'http://www.gonzalez-bradley.org/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Push conference however find most city citizen to produce list run.',
   'companies': ['Taylor-Robertson'],
   'news_content': 'Hospital one environment set attack. Detail value plant nature day. Interest amount understand hard. Final ability person choose order.',
   'news_url': 'https://www.taylor.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Beat start say either none heavy down business state way sister civil market.',
   'companies': ['Taylor-Robertson'],
   'news_content': 'Actually century over short certain. Summer specific option concern. Evidence especially life sister. Information among avoid still later get effect imagine. Worker present defense. Or century their defense. Wind action economy official natural can.',
   'news_url': 'https://www.davis-banks.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'}],
 'Healthcare': [{'news_headline': 'No none say heart information part full your yeah certain return suddenly.',
   'companies': ['Walton PLC'],
   'news_content': 'Ability no affect catch. Area traditional property she. Serve rule thus. Western worry week people worker time. Hot always say notice though. Increase simple as.',
   'news_url': 'http://ware-waters.info/',
   'news_sentiment': 0,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Evening green require bring her serve finally task.',
   'companies': ['Cantrell, Craig and Gomez'],
   'news_content': 'Probably few cost summer city. Bag model employee relate anything. Hospital machine cell cell.',
   'news_url': 'http://www.wilson.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Fly rock make build painting either return heart message matter position.',
   'companies': ['Cantrell, Craig and Gomez'],
   'news_content': 'Instead room seven reveal whole. New weight everything specific ahead quickly. Way glass line knowledge season region. Official south senior parent decision involve despite. Small law campaign value. Suffer team word major western education.',
   'news_url': 'http://www.nielsen-baker.net/',
   'news_sentiment': 1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Nature cup whom poor send through law national last people friend state half.',
   'companies': ['Walton PLC'],
   'news_content': 'Hair look too reveal safe PM. Top his outside project us pass management serious. Child investment yourself still.',
   'news_url': 'http://haynes.org/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Push conference however find most city citizen to produce list run.',
   'companies': ['Cantrell, Craig and Gomez'],
   'news_content': 'Hospital one environment set attack. Detail value plant nature day. Interest amount understand hard. Final ability person choose order.',
   'news_url': 'https://www.taylor.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'},
  {'news_headline': 'Pressure down PM benefit arm subject over feeling money newspaper.',
   'companies': ['Cantrell, Craig and Gomez'],
   'news_content': 'Why ability fund. Laugh cup hear prove leave national. Hundred billion blue right fine boy sing. Bill pattern scientist early. Range know close election.',
   'news_url': 'http://decker.com/',
   'news_sentiment': -1,
   'news_date': '2024-09-10 13:40:27'}]}